<p-table [value]="roles" [scrollable]="true" scrollHeight="370px">
    <ng-template pTemplate="header">
        <tr>
            <th class="w-100" id="role-name-column">Rol</th>
            <th id="role-state-column" class="cell-align-center" alignFrozen="right" pFrozenColumn>Estado</th>
            <th id="role-actions-column" class="cell-align-center" alignFrozen="right" pFrozenColumn>
                <div class="actions-table-label-container">
                    <span>Acciones</span>
                    <div class="actions-label-container">
                        <p [checkPermissionToRender]="rolePermissions.details" class="action-label">Ver</p>
                        <p [checkPermissionToRender]="rolePermissions.edit" class="action-label">Editar</p>
                    </div>
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-role>
        <tr>
            <td class="w-100">{{ role.name }}</td>
            <td alignFrozen="right" pFrozenColumn>
                <div
                    [checkPermissionToRender]="rolePermissions.inactive"  
                    [alternativeElement]="switchText" 
                    class="switch-table-container">
                    <div class="switch-container">
                        <span class="switch-label">{{ role.isActive | booleanToString:['Activo', 'Inactivo'] }}</span>
                        <p-inputSwitch 
                            inputId="switch-{{ role.id }}" 
                            [ngModel]="role.isActive"
                            [readonly]="true"
                            (click)="onSwitchClick(role.isActive, role.id, role.name)"
                        />
                    </div>
                </div>
                <span #switchText>
                    {{ role.isActive | booleanToString:['Activo', 'Inactivo'] }}
                </span>
            </td>
            <td alignFrozen="right" pFrozenColumn>
                <div class="actions-table-container">
                    <button 
                        [checkPermissionToRender]="rolePermissions.details"
                        id="show-button-{{ role.id }}"
                        (click)="onShowRoleDetails(role.id)"
                    >
                        <img src="../../../../../assets/images/icons/viewIcon.svg" alt="Ver">
                    </button>
                    <button 
                        [checkPermissionToRender]="rolePermissions.edit" 
                        id="edit-button-{{ role.id }}"
                        (click)="onShowEditRole(role.id, role.name)"
                    >
                        <img src="../../../../../assets/images/icons/editIcon.svg" alt="Editar">
                    </button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<div class="paginator-container">
    <shared-paginator 
        [rows]="perPage" 
        [totalRecords]="totalRoles" 
        [currentPage]="currentPage"
        (pageChange)="onPageChange($event)"
    />
</div>

<role-role-details
    [checkPermissionToRender]="rolePermissions.details"
    [(roleId)]="roleToGet"
    (roleIdChange)="onShowRoleDetails($event)"
/>

<role-role-edit
    [checkPermissionToRender]="rolePermissions.edit"
    [(roleId)]="roleToEdit"
    (roleIdChange)="onShowEditRole($event)"
    (roleEdited)="changeRoleEdited($event)"
/>