<shared-modal 
    *ngIf="!spinnerService.showSpinner"
    [(visible)]="modalVisible"
    (visibleChange)="onVisibleChange($event)"
>
    <ng-container template="content">
        <h3 class="page-title page-title--border-bottom">Editar rol</h3>
        <form [formGroup]="form">
            <div class="form-card form-card--no-margin-bottom form-card--no-shadow form-card--no-padding">
                <div class="form-grids-container">
                    <role-role-information-form [roleInformationForm]="roleInformationForm" [isEdit]="true" />
        
                    <h5 class="divider-label">Privilegios</h5>
                    
                    <role-permissions-form />
                </div>
            </div>
        </form>
    </ng-container>
    <ng-container template="footer">
        <div class="buttons-container flex flex-row-reverse">
            <p-button
                id="submit-button"
                styleClass="submit-button"
                type="submit" 
                label="Guardar"
                (onClick)="onEditRole()"
                [disabled]="!form.valid || !checkValuesSwitchForm()"
            />
            <p-button
                id="cancel-button"
                styleClass="secondary-button"
                type="button" 
                label="Cancelar"
                (onClick)="onCancel()"
            />
        </div>
    </ng-container>
</shared-modal>