<div class="home-container h-100 w-100">
    <div class="mask"></div>
    <div class="home-content flex flex-column flex-ai-center">
        <h3 class="home-title">Bienvenid@s a Observatorio</h3>
        <p class="home-description">Bienvenido a la herramienta de información del Observatorio para la Calidad
            Educativa de Medellín, agradecemos tu apoyo para el mejoramiento continuo en la calidad de datos de la
            Secretaría de Educación.
        </p>

        <div class="cards-container grid">
            <div *ngFor="let card of cards" class="card">
                <a *ngIf="card.access" id="card-{{ card.id }}" class="card-anchor h-100 flex flex-column flex-ai-center"
                    [routerLink]="card.route">
                    <img class="card-image" [src]="card.icon" [alt]="card.title">
                    <h6 class="card-title">{{ card.title }}</h6>
                    <p class="card-description">{{ card.description }}</p>
                </a>
            </div>
        </div>

        <div *ngIf="isScreenSmall" class="version-container">
            <shared-version-app />
        </div>
    </div>
</div>