.home-container {
    .mask {
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
        background-image: url("../../../../../assets/images/backgroundImage.webp");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 100% 50%;

        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            height: -moz-available;
            height: -webkit-fill-available;
            height: fill-available;
            background-color: rgba(255, 255, 255, 0.9);
        }
    }

    .home-content {
        padding: min(12%, 6.25em) min(12%, 9.5625em) 3em min(12%, 9.5625em);

        .home-title {
            font-weight: 700;
            font-size: 1.125rem;
            text-align: center;
        }
    
        .home-description {
            font-family: var(--secondary-font);
            font-weight: 400;
            font-size: .875rem;
            line-height: 1rem;
            text-align: center;
            margin-top: 2.75em;
        }
    
        .cards-container {
            margin-top: 3.25em;
            gap: 60px;
            grid-template-columns: 1fr 1fr 1fr;

            @media screen and (max-width: 900px) {
                grid-template-columns: 1fr;
            }

            .card {
                .card-anchor {
                    padding: 2rem;
                    background: #FFFFFF;
                    box-shadow: 0px 20px 40px #00000029;
                    border-radius: 16px;
                    cursor: pointer;
                    text-decoration: none;
                    transition: all .2s ease-in-out;
    
                    &:hover {
                        box-shadow: 0px 20px 40px rgba(var(--principal-color), .25);
                        
                        .card-title {
                            color: rgba(var(--secondary-color), 1);
                        }
                    }
    
                    .card-image {
                        width: 63px;
                        height: 63px;
                    }
    
                    .card-title {
                        margin-top: 1em;
                        font-weight: 700;
                        font-size: 1rem;
                        color: rgba(var(--principal-color), 1);
                        transition: all .2s ease-in-out;
                    }
    
                    .card-description {
                        font-weight: 400;
                        font-size: .75rem;
                        color: #000000;
                    }
                }
            }
        }

        .version-container {
            margin-top: 9.8125em;
        }
    }
}