<div class="container flex flex-column flex-ai-center flex-jc-center">
    <img class="image" src="../../../../assets/images/icons/noResultsIcon.svg" alt="No se encontraron datos en la búsqueda">
    <p class="highlight-text">No se encontraron datos en la búsqueda</p>
    <p class="text">Realiza una nueva consulta</p>
</div>
