.container {
    background: rgba(226, 226, 226, .14);
    padding: 1.5em 1em 1em 1em;
    margin-top: 1em;

    .image {
        width: 50px;
        height: 35px;
    }

    .highlight-text, .text {
        font-size: .875rem;
    }

    .highlight-text {
        margin-top: 1em;
        font-weight: 600;
    }

    .text {
        margin-top: .35em;
        font-weight: 400;
    }
}