::ng-deep .panel-menu-container .p-panelmenu {
    .p-panelmenu-header.p-highlight:not(.p-disabled) > a:hover {
        background: rgba(var(--principal-color), .25) !important;
    }

    .p-panelmenu-header:not(.p-highlight):not(.p-disabled) > a:hover {
        background: rgba(var(--principal-color), .25) !important;
    }

    .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled):hover {
        background: rgba(var(--principal-color), .25) !important;
    }

    .p-panelmenu-panel {
        margin: 0;

        .p-panelmenu-header {
            .p-panelmenu-header-link, .p-panelmenu-header-action {
                padding: 1.25em 3.125em 1.25em 5.8125em;
                align-items: center;
                border: none;
                border-bottom: 1px solid rgba(212, 212, 212, .2);
                border-radius: 0;
                background: #FFFFFF;
                flex-direction: row-reverse;
                justify-content: flex-end;

                &:hover {
                    background: rgba(var(--principal-color), .25) !important;
                }

                &:focus {
                    box-shadow: none;
                }

                &.p-menuitem-link-active {
                    span {
                        color: rgba(var(--principal-color), 1);
                        font-weight: 600 !important;
                    }
                }

                .p-icon-wrapper {
                    margin-left: auto;

                    svg {
                        height: 15px;
                        width: 9px;
                    }
                }

                span {
                    font-size: .75rem;
                    font-weight: 400;
                }
            }
        }

        .p-toggleable-content {
            .p-panelmenu-content {
                padding: 0;
                margin: 0;

                .p-submenu-list {
                    .p-menuitem {
                        .p-menuitem-link {
                            padding: 1.25em 3.125em 1.25em 8em;
                            border: none;
                            border-radius: 0;
                            background: #FFFFFF;

                            &:focus {
                                box-shadow: none;
                            }

                            &.p-menuitem-link-active {
                                span {
                                    color: rgba(var(--principal-color), 1);
                                    font-weight: 600 !important;
                                }
                            }

                            span {
                                font-size: .75rem;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
    }
}