<div [class]="getMessageType()" class="flex flex-row flex-jc-space-between">
    <p class="message">{{ message }}</p>
    <button 
        id="button-close-info-message" 
        class="close-button" 
        type="button"
        (click)="closeMessage()"
    >
        <img src="../../../../assets/images/icons/closeIconInfoMessage.svg" alt="Ícono Cerrar">
    </button>
</div>