.container {
    width: 100%;
    padding: .75em 1em .75em 1.5em;
    border: 1px solid;
    gap: 2rem;

    &.error {
        border-color: #A71300;
        background: #A713000F;

        .message {
            color: #AD0808;
        }
    }

    &.warning {
        border-color: #F28C02;
        background: #F28C020F;

        .message {
            color: #F28C02;
        }

        .close-button {
            img {
                filter: brightness(0) saturate(100%) invert(50%) sepia(40%) saturate(1911%) hue-rotate(8deg) brightness(105%) contrast(98%);
            }
        }
    }

    .close-button {
        cursor: pointer;    
        border: none;
        background-color: transparent;
        padding: 0;
    }

    .message {
        font-size: .75rem;
        font-weight: 400;
        word-break: break-word;
    }
}