.board-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    margin-top: 1em;
    column-gap: 1rem;
}

.version-container {
    margin-top: 3.75em;
}