<main class="page-container" *ngIf="cards.length > 0">
    <h3 class="page-title">Tableros</h3>
    <div class="board-cards-container">
        <ng-container *ngFor="let card of cards">
            <bi-boards-board-card 
                [reportId]="card.reportId"
                [class]="card.class" 
                [name]="card.name" 
                [image]="card.image"
            />
        </ng-container>
    </div>
    
    <div *ngIf="isScreenSmall" class="version-container">
        <shared-version-app />
    </div>
</main>