<form class="container form-grids-container" [formGroup]="searchRolesForm">
    <div class="form-grid-2">
        <div class="form-input-container">
            <label class="input-label-form" for="role">
                Rol
            </label>
            <p-dropdown inputId="role" validInputWithoutMessage formControlName="role" [options]="roles | sortArray:'id'"
                optionLabel="name" optionValue="id" placeholder="Seleccionar" />
        </div>
        <div class="form-input-container">
            <span class="input-label-form">
                Estado
            </span>
            <shared-input-radiobutton
                class="input-radiobutton"
                formControlNameInput="state" 
                [inputsRadiobutton]="radioButtonOptions"
            />
        </div>
    </div>

    <h5 class="divider-label">Privilegios</h5>
    
    <role-permissions-form />
</form>