<main class="page-container h-100">
    <div class="powerbi-report-container h-100">
        <iframe 
            title="Reporte dinámico" 
            [src]="safeIframeURL"
            allowfullscreen="true"
        ></iframe>
    </div>
</main>