<form [formGroup]="inputFormTime" class="input-timepicker-container flex flex-row">
    <ng-container>
        <input id="hour_{{id}}" pInputText validInputWithoutMessage type="number" formControlName="hour"
            placeholder="HH" oninput="this.value = this.value.slice(0, 2);" (click)="toggleOverlayCalendar($event)" />
        <div #overlayTarget class="target"></div>
    </ng-container>
    <input *ngIf="!useHourHalf; else hourHalf" id="minute_{{id}}" pInputText validInputWithoutMessage type="number"
        formControlName="minute" placeholder="MM" oninput="this.value = this.value.slice(0, 2);"
        (click)="toggleOverlayCalendar($event)" />
    <ng-template #hourHalf>
        <p-dropdown inputId="hourHalf_{{id}}" class="time-input" appendTo="body" validInputWithoutMessage formControlName="minute"
            [options]="hourHalfType" />
    </ng-template>
    <p-dropdown inputId="ampm_{{id}}" class="time-input" appendTo="body" validInputWithoutMessage formControlName="ampm"
        [options]="timeType" />
</form>

<p-overlayPanel #overlayTime class="overlay">
    <div class="overlay-content-container flex flex-row">
        <div class="hour-minute-container flex flex-row flex-ai-center">
            <shared-time-picker-selector (up)="addTimeValue(1, inputFormTime.get('hour')!, 12)"
                (down)="substractTimeValue(1, inputFormTime.get('hour')!, 1, 12)"
                [value]="inputFormTime.get('hour')!.value || '00'" />
            <span class="dot-separator">:</span>
            <shared-time-picker-selector 
                (up)="!useHourHalf ? addTimeValue(1, inputFormTime.get('minute')!, 59) : changeTypeTime('00', inputFormTime.get('minute')!)"
                (down)="!useHourHalf ? substractTimeValue(1, inputFormTime.get('minute')!, 0, 59) : changeTypeTime('30', inputFormTime.get('minute')!)"
                [value]="inputFormTime.get('minute')!.value || '00'" />
        </div>
        <shared-time-picker-selector (up)="changeTypeTime('AM', inputFormTime.get('ampm')!)"
            (down)="changeTypeTime('PM', inputFormTime.get('ampm')!)" [value]="inputFormTime.get('ampm')!.value" />
    </div>
</p-overlayPanel>