.input-timepicker-container {
    gap: .75rem;
    position: relative;

    .target {
        position: absolute;
        bottom: 0;
    }

    input[type='number'] {
        text-align: center;
    }
}

.overlay-content-container {
    gap: 2rem;

    .hour-minute-container {
        gap: 1rem;

        .dot-separator {
            font-size: 1.15rem;
        }
    }
}