.time-selector {
    gap: 0.25rem;

    .button-up, .button-down {
        padding: .25em;
        background: none;
        border: none;
        cursor: pointer;

        img {
            width: .65rem;
            height: .65rem;
        }
    }

    .button-up {
        transform: rotate(180deg);
    }

    .time-value {
        font-size: .75rem;
    }
}