<div class="time-selector flex flex-column flex-ai-center">
    <button id="up-button" class="button-up flex" (click)="onUp()">
        <img src="../../../../assets/images/icons/arrowOption.svg" alt="Arriba">
    </button>
    <span class="time-value">{{ value }}</span>
    <button id="down-button" class="button-down flex" (click)="onDown()">
        <img src="../../../../assets/images/icons/arrowOption.svg" alt="Abajo">
    </button>
</div>
