<div class="chips-container flex flex-wrap flex-jc-center">
    <button 
        *ngFor="let chip of chips"
        id="chip-{{ chip.name }}"
        class="chip-button {{ chip.selected ? 'selected' : '' }} {{ chip.blocked ? 'blocked' : '' }}"
        (click)="!chip.blocked && selectChip(chip.name)"
        [disabled]="chip.blocked"
    >{{ chip.name }}</button>
</div>
