.chips-container {
    gap: .5rem;

    .chip-button {
        border: 1px solid #DEDEDF;
        background: #FFFFFF;
        border-radius: 20px;
        font-size: .75rem;
        font-weight: 400;
        padding: .375em .625em;
        cursor: pointer;

        &.selected {
            background: rgba(var(--principal-color), 1);
            color: #FFFFFF;
            animation-name: selectAnimation;
            animation-duration: .2s;
        }

        &.blocked {
            color: #B7B7B7;
            background: #fafafa;
            cursor: default;
        }
    }
}

@keyframes selectAnimation {
    from { background: #FFFFFF; }
    to { background: rgba(var(--principal-color), 1); }
}