<p-dialog *ngIf="hasAccess" position="topright" [(visible)]="visibleNotificationModal" [modal]="true" [closeOnEscape]="true"
    [dismissableMask]="true" [draggable]="false" [resizable]="false" [showHeader]="false"
    styleClass="notification-modal" (visibleChange)="showNotificationModal($event)"
>
    <button id="close-notification-modal" class="notification-modal-button-close"
        (click)="showNotificationModal(false)">
        <img src="../../../../../assets/images/icons/closeIconSidebar.svg" alt="Cerrar periodos de carga">
    </button>

    <div class="notification-modal-header">
        <h4 class="notification-modal-title">Notificaciones</h4>
    </div>
    <div class="notification-modal-body">
        <dashboard-notification-filters (changeFilter)="onChangeFilter($event)" />

        <div class="notification-list-container flex flex-column">
            <div *ngIf="isLoading" class="spinner-container">
                <p-progressSpinner styleClass="loading-spinner" strokeWidth="4" />
            </div>

            <ng-container *ngIf="notificationsList.length > 0; else noResultsMessage">
                <dashboard-notification-card *ngFor="let notification of notificationsList" [notification]="notification"
                    (readNotification)="onReadNotification($event)" (deleteNotification)="onDeleteNotification($event)" />
            </ng-container>

            <ng-template #noResultsMessage>
                <div class="no-results-message-container flex flex-column flex-ai-center">
                    <img src="../../../../../assets/images/icons/alertNotificationEmptyIcon.svg"
                        alt="Icono no existe notificaciones" />
                    <p class="highlighted-text">En este momento no tiene</p>
                    <p class="normal-text">notificaciones</p>
                </div>
            </ng-template>
        </div>
    </div>
    <div class="notification-modal-footer">
        <button *ngIf="hideReadAllNotifications()" id="mark-all-as-read-button" class="read-all-button" (click)="onReadAllNotifications()">Marcar todas
            como leídas</button>
    </div>
</p-dialog>
