::ng-deep {
    .notification-modal {
        background: none !important;
        min-width: 18.75rem !important;
        max-width: 18.75rem !important;

        .p-dialog-content {
            padding: 0 !important;
            background: none !important;
        }

        .notification-modal-button-close {
            position: absolute;
            right: 1rem;
            top: 1rem;
            background: none;
            cursor: pointer;
            border: none;
            padding: 0;
        }
    }

    .loading-spinner {
        width: 3rem;
        height: 3rem;
    }
}

.notification-modal-header {
    padding: 1em;
    background: rgba(var(--principal-color), 1);
    text-align: center;

    .notification-modal-title {
        font-size: .875rem;
        font-weight: 600;
        color: #FFFFFF;
    }
}

.notification-modal-body {
    background: #FFFFFF;

    .notification-list-container {
        gap: 1rem;
        padding: 0em .75em;
        overflow-y: overlay;
        max-height: 15.625rem;
        position: relative;

        .spinner-container {
            background: rgba(255, 255, 255, 0.3);
            position: absolute;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: calc(100% - 1.5em);
        }

        .no-results-message-container {
            text-align: center;
            padding: 5em 0em;

            img {
                width: 3.125rem;
                height: 2.1875rem;
            }

            p.highlighted-text {
                margin-top: .75em;
                color: #000000;
                font-weight: 600;
                font-size: .875rem;
            }

            p.normal-text {
                color: #000000;
                font-weight: 400;
                font-size: .875rem;
            }
        }
    }
}

.notification-modal-footer {
    background: #FFFFFF;
    padding: 0em 1em 1em 1em;
    text-align: center;

    .read-all-button {
        margin-top: .75em;
        color: rgba(var(--principal-color), 1);
        font-size: .75rem;
        font-weight: 500;
        background: none;
        border: none;
        cursor: pointer;
    }
}