<div class="notification-filters-container flex flex-row flex-jc-flex-end">
    <button 
        *ngFor="let filter of filters"
        id="button-{{ filter.id }}"
        class="filter-button"
        [ngClass]="filter.selected ? 'selected' : ''"
        (click)="onChangeFilter(filter.value)"
    >
        {{ filter.label }}
    </button>
</div>
