.notification-filters-container {
    gap: .625rem;
    padding: 1em;

    .filter-button {
        padding: .875em .75em;
        font-size: .75rem;
        font-weight: 600;
        color: rgba(var(--principal-color), 1);
        background: rgba(var(--principal-color), .2);
        border-radius: .625rem;
        border: none;
        cursor: pointer;

        &.selected {
            color: #FFFFFF;
            background: rgba(var(--principal-color), 1);
        }
    }
}
