<div class="navbar-container flex flex-row flex-jc-space-between flex-ai-center">
    <h4 *ngIf="!isScreenSmall; else mayoralArmsCoatMobil" class="navbar-title">Observatorio</h4>
    <div class="user-information flex flex-row flex-ai-center">
        <p *ngIf="!isScreenSmall" class="user-name-text">Hola, <span class="user-name-text-highlighted">{{ userName
                }}</span></p>
        <button 
            id="notificacions-button" 
            class="notifications-button flex flex-row flex-ai-center"
            (click)="showNotificationModal(true)"
        >
            <img src="../../../../../assets/images/icons/notificationBell.svg" alt="Notificaciones">
            <p *ngIf="numberUnreadNotifications > 0" class="notifications-cuantity">
                {{ numberUnreadNotifications > 99 ? '99+' : numberUnreadNotifications }}
            </p>
        </button>
        <button id="user-information-button" class="user-information-button flex" (click)="visibleChange(true)">
            <img *ngIf="!isScreenSmall; else drawerMenuIcon" src="../../../../../assets/images/icons/userIcon.svg"
                alt="Usuario">
        </button>
    </div>
</div>

<dashboard-notifications-modal
    (numberUnreadNotifications)="getNumberUnreadNotifications($event)"
    [(visibleNotificationModal)]="visibleNotificationModal"
/>

<dashboard-sidebar [userName]="userName" [email]="email" [documentType]="documentType" [documentNumber]="documentNumber"
    [visible]="showSidebar" (visibleChange)="visibleChange($event)" (logout)="onLogout()" />

<ng-template #mayoralArmsCoatMobil>
    <img class="mayoral-arms-coat-mobile-image" src="../../../../../assets/images/mayoralArmsCoatMobile.svg"
        alt="Alcaldía de Medellín">
</ng-template>

<ng-template #drawerMenuIcon>
    <img src="../../../../../assets/images/icons/menuDrawer.svg" alt="Menú">
</ng-template>
