.navbar-container {
    padding: .8185em 1.5em .8185em 1.5em;
    background: #FFFFFF;
    box-shadow: 0px 5px 3px #00000015;

    @media screen and (max-width: 900px) {
        align-items: flex-start;
        padding-bottom: 1.75em;
    }

    .navbar-title {
        font-size: .875rem;
        font-weight: 500;
    }

    .mayoral-arms-coat-mobile-image {
        width: min(55%, 211px);
        height: min(55%, 59px);
    }

    .user-information {
        gap: 25px;

        @media screen and (max-width: 900px) {
            gap: 15px;
        }

        .user-name-text {
            font-size: .625rem;
            font-weight: 400;

            .user-name-text-highlighted {
                font-weight: 700;
            }
        }

        .notifications-button,
        .user-information-button {
            background: transparent;
            border: none;
            padding: 0px;
            cursor: pointer;
        }

        .notifications-button {
            gap: 8px;

            img {
                width: 13px;
                height: 16px;
            }

            .notifications-cuantity {
                color: #FD8900;
                font-size: .625rem;
                font-weight: 600;
            }
        }

        .user-information-button {
            img {
                width: 25px;
                height: 25px;
            }
        }
    }
}
