<div class="password-conditions-container flex flex-column">
    <span 
        *ngFor="let condition of conditions" 
        class="password-condition flex flex-row flex-ai-center"
    >
        <i 
            class="icon-check pi pi-check" 
            [ngClass]="condition.isValid ? 'icon-check-valid' : ''"
        ></i>
        <p>{{ condition.description }}</p>
    </span>
</div>