.password-conditions-container {
    .password-condition {
        gap: 4px;

        .icon-check {
            font-size: .625rem;
            color: #E2E2E2;

            &.icon-check-valid {
                color: #28AF28;
            }
        }

        p {
            color: #707070;
            font-size: .625rem;
            font-weight: 400;
        }
    }
}