.change-button-password-container {

    @media screen and (max-width: 900px) {
        &:hover {
            background: rgba(255, 255, 255, .1);
        }

        .change-button-password {
            &:hover {
                span {
                    color: #FFFFFF !important;
                    font-weight: 400 !important;
                }
            }

            span {
                color: #FFFFFF;
                border-bottom: 1px solid rgba(212, 212, 212, .2) !important;
            }
        }
    }

    .change-button-password {
        background: transparent;
        border: none;
        padding: 0;
        padding-left: 3.875em;
        cursor: pointer;

        &:hover {
            background: transparent;

            span {
                color: rgba(var(--secondary-color), 1);
                font-weight: 600;
            }
        }

        span {
            padding: 1em 1.25em;
            border-bottom: 1px solid rgba(212, 212, 212, .2);
            text-align: start;
            font-size: .75rem;
            font-weight: 400;
        }
    }
}