<div class="change-button-password-container">
    <button 
        id="change-button-password" 
        class="change-button-password w-100 flex"
        (click)="onOpenChangePasswordModal()"
    >
        <span class="w-100">Cambiar contraseña</span>
    </button>
</div>