<form class="container form-grids-container" [formGroup]="personalInformationForm">
    <div class="form-grid-4">
        <div class="form-input-container">
            <label class="input-label-form" for="identificationNumber">
                Documento de identidad -
                <span class="input-label-form--required">Obligatorio</span>
            </label>
            <div class="identification-input">
                <p-dropdown 
                    id="identificationType"
                    inputId="identificationType"
                    validInputWithoutMessage
                    formControlName="identificationType" 
                    [options]="identificationTypes | sortArray:'id'"
                    optionLabel="alias"
                    appendTo="body"
                >
                <ng-template let-identificationType pTemplate="item">
                    <span>{{identificationType.alias}} - {{identificationType.name}}</span>
                </ng-template>
                </p-dropdown>
                <span class="input-mask">
                    <p class="text-input-mask">No.</p>
                    <input 
                        pInputText 
                        validInputWithoutMessage 
                        id="identificationNumber" 
                        [type]="isPassport ? 'text' : 'number'"
                        name="identificationNumber" 
                        formControlName="identificationNumber"
                        maxlength="20"
                        oninput="this.value = this.value.slice(0, 20);"
                    />
                </span>
            </div>
        </div>
        <div class="form-input-container">
            <label class="input-label-form" for="name">
                Nombre -
                <span class="input-label-form--required">Obligatorio</span>
            </label>
            <input 
                pInputText 
                validInputWithoutMessage 
                id="name" 
                type="text" 
                name="name" 
                formControlName="name"
                maxlength="30"
                autocomplete="off"
            />
        </div>
        <div class="form-input-container">
            <label class="input-label-form" for="surnames">
                Apellidos -
                <span class="input-label-form--required">Obligatorio</span>
            </label>
            <input 
                pInputText 
                validInputWithoutMessage 
                id="surnames" 
                type="text" 
                name="surnames" 
                formControlName="surnames"
                maxlength="30"
            />
        </div>
        <div class="form-input-container">
            <label class="input-label-form" for="email">
                Correo electrónico -
                <span class="input-label-form--required">Obligatorio</span>
            </label>
            <input 
                pInputText 
                validInputWithoutMessage 
                id="email" 
                type="text" 
                name="email" 
                formControlName="email"
                maxlength="40"
                autocomplete="off"
            />
        </div>
    </div>

    <div class="form-grid-3">
        <div class="form-input-container">
            <label class="input-label-form" for="gender">
                Género -
                <span class="input-label-form--required">Obligatorio</span>
            </label>
            <p-dropdown 
                validInputWithoutMessage
                formControlName="gender" 
                [options]="genders" 
                placeholder="Seleccionar"
                optionLabel="name"
                optionValue="alias"
                inputId="gender"
                selectId="gender"
                id="gender"
                appendTo="body"
            />
        </div>
        <div class="form-input-container">
            <div class="form-input-container">
                <label class="input-label-form" for="phone">
                    Celular -
                    <span class="input-label-form--required">Obligatorio</span>
                </label>
                <input 
                    pInputText 
                    validInputWithoutMessage 
                    id="phone" 
                    type="number" 
                    name="phone" 
                    formControlName="phone"
                    maxlength="15"
                    oninput="this.value = this.value.slice(0, 15);"
                    autocomplete="off"
                />
            </div>
        </div>
        <div class="form-input-container">
            <div class="form-input-container">
                <label class="input-label-form" for="contactNumber">Número de contacto</label>
                <input 
                    pInputText 
                    validInputWithoutMessage 
                    id="contactNumber" 
                    type="number" 
                    name="contactNumber" 
                    formControlName="contactNumber"
                    maxlength="15"
                    oninput="this.value = this.value.slice(0, 15);"
                />
            </div>
        </div>
    </div>

    <div class="form-grid-2">
        <div class="form-input-container">
            <label class="input-label-form" for="role">
                Rol -
                <span class="input-label-form--required">Obligatorio</span>
            </label>
            <p-multiSelect
                [showToggleAll]="false"
                [filter]="false"
                [showHeader]="false"
                validInputWithoutMessage
                formControlName="role" 
                [options]="roles" 
                placeholder="Seleccionar"
                display="chip" 
                optionLabel="name"
                optionValue="id"
                inputId="role"
                id="role"
                appendTo="body"
            >
                <ng-template pTemplate="removetokenicon">
                    X
                </ng-template>
            </p-multiSelect>
        </div>
        <div class="form-input-container">
            <div class="form-input-container">
                <label class="input-label-form" for="address">Dirección</label>
                <input 
                    pInputText 
                    validInputWithoutMessage 
                    id="address" 
                    type="text" 
                    name="address" 
                    formControlName="address"
                    maxlength="50"
                    autocomplete="off"
                />
            </div>
        </div>
    </div>
</form>