<div class="hour-period-container flex flex-row flex-jc-center flex-ai-center">
    <div class="hour-period-text-container flex flex-column">
        <p class="hour-period-highlighted-text">Hora de notificación actual</p>
        <p class="hour-period-text">{{ time | dateToTimeString }}</p>
    </div>
    <p-button id="loading-hour-period-button" (click)="toggleModalTime()">
        <img alt="Time" src="../../../../../assets/images/icons/timeIcon.svg" class="time-image" />
        <span>Cambiar</span>
    </p-button>

    <shared-modal [(visible)]="modalVisible" (visibleChange)="onVisibleChange($event)" [showFooter]="false"
        [closable]="false" customClass="hour-period-modal">
        <ng-container template="content">
            <div class="hour-period-configuration-container">
                <form [formGroup]="configurationForm" class="modal-form flex flex-column flex-ai-center">
                    <div *ngIf="!(isUpdating | async)" class="time-picker-container flex flex-column">
                        <h6 class="time-picker-title">Hora de la notificación</h6>
                        <shared-time-picker id="time" [useHourHalf]="true"
                            [timeFormControl]="configurationForm.get('time')!" />
                    </div>

                    <div class="buttons-container flex flex-row flex-jc-flex-end">
                        <p-button id="cancel-button" styleClass="secondary-button" type="button" label="Cancelar"
                            (onClick)="onCancelTimeLoadingPeriod()" />
                        <p-button id="submit-button" styleClass="submit-button" type="submit" label="Aceptar"
                            [disabled]="!configurationForm.valid " (onClick)="onEditTimeLoadingPeriod()" />
                    </div>
                </form>
            </div>
        </ng-container>
    </shared-modal>
</div>