::ng-deep {
    .p-dialog-mask .hour-period-modal.p-dialog {
        @media screen and (max-width: 900px) {
            width: fit-content !important;
        }
    }
}

.hour-period-container {
    gap: 2rem;
    padding: 1.5em;

    @media screen and (max-width: 900px) {
        flex-direction: column;
    }

    .hour-period-text-container {
        text-align: center;
        gap: .5rem;

        .hour-period-highlighted-text, .hour-period-text {
            font-size: .75rem;
        }

        .hour-period-highlighted-text {
            font-weight: 600;
        }

        .hour-period-text {
            font-weight: 400;
        }
    }

    .target {
        visibility: hidden;
        position: absolute;
        margin-top: 7em;
        margin-left: -15em;

        @media screen and (max-width: 900px) {
            margin-left: 0;
            margin-top: 0;
        }
    }

    .time-image {
        width: 1rem;
        height: 1rem;
    }

    .background-time-modal {
        background-color: rgba(0,0,0,.65);
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }
}

.hour-period-configuration-container {
    .modal-form {
        gap: 1.5rem;

        .time-picker-container {
            max-width: 11.75rem;
            gap: .75rem;
            margin: 0 2em;

            .time-picker-title {
                font-size: .875rem;
                font-weight: 600;
                color: #1E1E1E;
            }
        }

        .buttons-container {
            gap: 1rem;
        }
    }
}