<ng-container *ngIf="!isEmpty; else noResults">
    <h4 class="title-results-container form-card-title form-card-title--no-border flex flex-row flex-jc-space-between flex-ai-center">
        <span>Resultado de la consulta</span>
        <div class="results-actions-container">
            <p class="total-results">Total de resultados: <span class="total-results-number">{{ totalResults }}</span></p>
            <div class="perpage-results-container">
                <p class="perpage-results-text">Registros por página</p>
                <p-dropdown 
                    id="perpage-results"
                    inputId="perpage-results"
                    [options]="perpageResultsOptions"
                    (onChange)="onChangePerPage($event)"
                    [ngModel]="perPage"
                />
            </div>
        </div>
    </h4>
    <ng-content />
</ng-container>

<ng-template #noResults>
    <h4 class="form-card-title">Resultado de la consulta</h4>
    <shared-no-results />
</ng-template>