.breadcrumb-container {
    background: rgba(var(--principal-color), 1);
    padding: .15em 1em;

    .home-route-container {
        .home-route {
            cursor: pointer;
        }

        .breadcrumb-list {
            display: flex;
            flex-direction: row;
            list-style: none;
            margin: 0;
            padding: 0;
        
            li {
                display: flex;
                flex-direction: row;
        
                &:before {
                    content: "/";
                    color: #FFFFFF;
                    margin: 0px .5em;
                    font-size: .625rem;
                    font-weight: 300;
                }

                &:last-child {
                    a {
                        font-weight: 600;
                    }
                }
        
                a {
                    font-size: .625rem;
                    color: #FFFFFF;
                    font-weight: 400;
                    text-decoration: none;
                }
            }
        }
    }
}