<div class="breadcrumb-container flex flex-ai-center">
    <div class="home-route-container flex flex-row">
        <a 
            id="anchor-route-home" 
            class="home-route flex"
            [routerLink]="['/']"
        >
            <img src="../../../../../assets/images/icons/homeBreadcrumb.svg" alt="Inicio">
        </a>
        <ul class="breadcrumb-list">
            <li *ngFor="let breadcrumb of breadcrumbs" class="breadcrumb-list-item">
                <a 
                    id="anchor-list-{{ breadcrumb.label | lowercase }}" 
                    [routerLink]="breadcrumb.url"
                >
                    {{ breadcrumb.label }}
                </a>
            </li>
        </ul>
    </div>
</div>