<div class="container">
    <div class="form-input-container">
        <span class="input-label-form">{{ label }}</span>
        <ul class="switches-container">
            <li *ngFor="let permission of permissions" class="switch-container flex flex-row flex-ai-center flex-jc-space-between">
                <label class="switch-label" [for]="permission.id">{{ permission.name }}</label>
                <p-inputSwitch
                    [inputId]="permission.id"
                    [formControlName]="permission.formControlName"
                    [trueValue]="permission.value"
                    falseValue=""
                />
            </li>
        </ul>
    </div>
</div>