.container {

    .switches-container {
        border: 1px solid #DEDEDF;
        border-radius: 5px;
        list-style: none;
        padding: 0;
        margin: 0;
        overflow: hidden;

        li.switch-container {
            background: #FFFFFF;
            padding: .75em .5em;

            &:nth-child(even) {
                background: rgba(var(--secondary-color), .08);
            }
        }
    }
}