.spinner-container {
    z-index: 1;
    position: fixed;
    background: rgba(255, 255, 255, 0.3);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .lds-grid {
        display: inline-block;
        position: relative;
        width: 87px;
        height: 87px;
    }

    .lds-grid div {
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        background: rgba(var(--principal-color), 1);
        animation: lds-grid 1.2s linear infinite;
    }

    .lds-grid div:nth-child(1) {
        top: 4px;
        left: 4px;
        animation-delay: 0s;
    }

    .lds-grid div:nth-child(2) {
        top: 4px;
        left: 32px;
        animation-delay: -0.4s;
    }

    .lds-grid div:nth-child(3) {
        top: 4px;
        left: 60px;
        animation-delay: -0.8s;
    }

    .lds-grid div:nth-child(4) {
        top: 32px;
        left: 4px;
        animation-delay: -0.4s;
    }

    .lds-grid div:nth-child(5) {
        top: 32px;
        left: 32px;
        animation-delay: -0.8s;
    }

    .lds-grid div:nth-child(6) {
        top: 32px;
        left: 60px;
        animation-delay: -1.2s;
    }

    .lds-grid div:nth-child(7) {
        top: 60px;
        left: 4px;
        animation-delay: -0.8s;
    }

    .lds-grid div:nth-child(8) {
        top: 60px;
        left: 32px;
        animation-delay: -1.2s;
    }

    .lds-grid div:nth-child(9) {
        top: 60px;
        left: 60px;
        animation-delay: -1.6s;
    }

    @keyframes lds-grid {
        0%,
        100% {
            opacity: 1;
        }

        50% {
            opacity: 0.5;
        }
    }
}
