<p-paginator 
    #paginator
    [rows]="rows" 
    [totalRecords]="totalRecords" 
    [showFirstLastIcon]="false"
    (onPageChange)="onPageChange($event)"
>
    <ng-template pTemplate="previouspagelinkicon">
        <div class="button-paginator-container">
            <img
                class="previous-button-image"
                src="../../../../../assets/images/icons/arrowOption.svg" 
                alt="Anterior"
            >
            <span>Ant.</span>
        </div>
    </ng-template>
    <ng-template pTemplate="nextpagelinkicon">
        <div class="button-paginator-container">
            <span>Sig.</span>
            <img
                class="next-button-image"
                src="../../../../../assets/images/icons/arrowOption.svg" 
                alt="Siguiente"
            >
        </div>
    </ng-template>
</p-paginator>