.button-paginator-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .25rem;

    .previous-button-image {
        transform: rotate(90deg);
    }
    .next-button-image {
        transform: rotate(270deg);
    }

    span {
        color: #5D5D5D;
        font-size: .625rem;
        font-weight: 400;
    }
}
