<p-dialog 
    [(visible)]="visible" 
    [resizable]="false" 
    [draggable]="false" 
    [closeOnEscape]="true"
    [dismissableMask]="true"
    appendTo="body"
    [closable]="closable"
    [modal]="true"
    (visibleChange)="onVisibleChange($event)"
    [styleClass]="customClass"
    [showHeader]="closable"
>
    <ng-content select="[template='content']"></ng-content>
    <ng-template *ngIf="showFooter" pTemplate="footer">
        <ng-content select="[template='footer']"></ng-content>
    </ng-template>
</p-dialog>