.board-card {
    background: transparent;
    padding-top: 1em;
    overflow: hidden;
    border-radius: 1rem;

    &:hover {
        .board-card-content {
            background: transparent;
            cursor: pointer;

            &:before {
                content: "";
                background: rgba(var(--principal-color), .15);
                height: calc(100% - .27rem);
                width: calc(100% - .25rem);
                position: absolute;
                border-radius: 1rem;
                z-index: 1;
                border: 2px solid rgba(var(--principal-color), 1);
            }
        }

        img {
            transform: scale(.8) translate(-2.5rem, 1.875rem);
            opacity: .25;
        }

        .board-card-title {
            font-size: 1.25rem;
            font-weight: 700;
            top: 50%; right: 50%;
            transform: translate(50%,-50%);
            max-width: 10rem;
        }

        .report-annexes, .teachers-characterization {
            img {
                transform: rotateY(180deg) scale(.8) translate(2.5rem, 1.875rem);
            }
        }
    }

    .board-card-content {
        display: block;
        height: 11.25rem;
        position: relative;
        border-radius: 1rem;
        transition: all .3s ease-in-out;
    }

    img {
        transition: all .3s ease-in-out;
        position: absolute;
    }
    
    .board-card-title {
        font-weight: 500;
        font-size: 1rem;
        color: rgba(var(--principal-color), 1);
        position: absolute;
        right: 1rem;
        top: 3.75rem;
        max-width: 7.75rem;
        text-align: center;
        transition: all .3s ease-in-out;
    }

    .educative-transformation {
        background: #E5E5E5;
        
        img {
            top: -1.2rem;
            left: -1.15rem;
            height: calc(100% + 1.2rem);
        }
    }

    .indicators {
        background: #BBDDFF;
        
        img {
            top: -.75rem;
            height: calc(100% + 4.5rem);
        }
    }

    .enrollment-weekly-report {
        background: #CAF8B0;

        img {
            top: -1rem;
            left: -1.5rem;
            height: calc(100% + 7rem);
        }
    }

    .report-annexes {
        background: #FFEDD5;

        img {
            top: -1rem;
            height: calc(100% + 1rem);
            transform: rotateY(180deg);
        }
    }

    .school-environment {
        background: #FFE4A4;

        img {
            top: .5rem;
            left: -1rem;
            height: calc(100% - .5rem);
        }
    }

    .characterization {
        background: #EACEFF;
        
        img {
            top: 1.75rem;
            height: 100%;
        }
    }

    .report-communes {
        background: #FFFCA7;
        
        img {
            top: -.75rem;
            left: .5rem;
            height: calc(100% + 3.5rem);
        }
    }

    .ie-report {
        background: #91ECFF;
        
        img {
            top: -.5rem;
            left: -1rem;
            height: calc(100% + .5rem);
        }
    }

    .core-report {
        background: #FEC5FC;
        
        img {
            top: -.75rem;
            left: -.25rem;
            height: calc(100% + 10rem);
        }
    }

    .saber-11-icfes {
        background: #94FBED;
        
        img {
            top: .75rem;
            left: -.75rem;
            height: calc(100% + .5rem);
        }
    }

    .indicator-management {
        background: #EBEBEB;
        
        img {
            top: -.5rem;
            height: calc(100% + 13rem);
        }
    }

    .teachers-characterization {
        background: #B2DFF9;
        
        img {
            top: -.5rem;
            left: -.25rem;
            height: calc(100% + .5rem);
            transform: rotateY(180deg);
        }
    }

    .future-computers {
        background: #FFCCD7;
        
        img {
            top: -.5rem;
            left: .5rem;
            height: calc(100% + 1.5rem);
        }
    }

    .default {
        background: rgba(var(--principal-color), .3);
        
        img {
            top: -.5rem;
            left: -1rem;
            height: calc(100% + 1.2rem);
        }
    }
}