<div class="board-card">
    <a routerLink="board/{{ name }}/{{ reportId }}" class="board-card-content {{ class }}">
        <img [src]="image" [alt]="name">
        <h6 class="board-card-title">{{ name }}</h6>
    </a>
</div>
