<div class="period-container flex flex-row flex-jc-center flex-ai-center">
    <div class="period-text-container flex flex-column">
        <p class="period-highlighted-text">Período de carga actual</p>
        <p class="period-text">{{ getDataSourceTimeInString() }}</p>
    </div>
    <p-button id="loading-period-button" (click)="onVisibleChange(true)">
        <img alt="Calendar" src="../../../../../assets/images/icons/calendarIcon.svg" class="calendar-image" />
        <span>Cambiar</span>
    </p-button>
    
    <shared-modal [(visible)]="modalVisible" (visibleChange)="onVisibleChange($event)" [showFooter]="false"
        [closable]="false" customClass="loading-period-data-source-modal">
        <ng-container template="content">
            <div class="modal-container">
                <h6 class="modal-title">Período de carga</h6>
                <div class="period-configuration-container">
                    <form [formGroup]="configurationForm" class="modal-form flex flex-column">
                        <div class="time-inputs-container flex flex-row flex-ai-center">
                            <span class="each-text">Cada</span>
                            <input 
                                pInputText 
                                validInputWithoutMessage 
                                id="eachTime"
                                class="number-time-input"
                                type="number" 
                                name="eachTime"
                                formControlName="eachTime" 
                                maxlength="2" 
                                oninput="this.value = this.value.slice(0, 2);"
                            />
                            <p-dropdown 
                                inputId="time"
                                class="time-input"
                                validInputWithoutMessage 
                                formControlName="time"
                                [options]="timesType | sortArray:'id'" 
                                optionLabel="name" 
                                optionValue="name"
                                placeholder="Seleccionar"
                                appendTo="body"
                            />
                        </div>
    
                        <div *ngIf="configurationForm.get('time')?.value" class="time-container" [ngSwitch]="configurationForm.get('time')?.value">
                            <div *ngSwitchCase="timeObject.week">
                                <h6 class="time-title">Días de la semana</h6>
                                <shared-chip-buttons
                                    class="chips-container"
                                    [chipsFormControl]="configurationForm.get('weekDays')!"
                                    [chips]="weekDaysList"
                                />
                            </div>
                            <div *ngSwitchCase="timeObject.month">
                                <h6 class="time-title">Días del mes</h6>
                                <shared-day-picker
                                    class="day-picker-container"
                                    [dayPickerFormControl]="configurationForm.get('monthDays')!"
                                />
                            </div>
                            <div *ngSwitchCase="timeObject.year" class="year-container flex flex-column">
                                <div class="month-input-container">
                                    <h6 class="time-title">Meses</h6>
                                    <shared-chip-buttons
                                        class="chips-container"
                                        [chipsFormControl]="configurationForm.get('yearMonths')!"
                                        [chips]="yearMonthsList"
                                    />
                                </div>
                                <div class="days-input-container">
                                    <h6 class="time-title">Días del mes</h6>
                                    <shared-day-picker
                                        class="day-picker-container"
                                        [dayPickerFormControl]="configurationForm.get('yearDays')!"
                                    />
                                </div>
                            </div>
                        </div>
    
                        <div class="buttons-container flex flex-row flex-jc-flex-end">
                            <p-button
                                id="cancel-button"
                                styleClass="secondary-button"
                                type="button" 
                                label="Cancelar"
                                [disabled]="!checkValuesForm()"
                                (onClick)="onCancelLoadingPeriod()"
                            />
                            <p-button
                                id="submit-button"
                                styleClass="submit-button"
                                type="submit" 
                                label="Aceptar"
                                [disabled]="!configurationForm.valid "
                                (onClick)="onEditLoadingPeriod()"
                            />
                        </div>
                    </form>
                </div>
            </div>
        </ng-container>
    </shared-modal>
</div>