::ng-deep {
    .p-dialog-mask .loading-period-data-source-modal.p-dialog {
        @media screen and (max-width: 900px) {
            width: fit-content !important;
        }
    }
}

.period-container {
    gap: 2rem;
    padding: 1.5em;

    @media screen and (max-width: 900px) {
        flex-direction: column;
    }

    .period-text-container {
        text-align: center;
        gap: .5rem;

        .period-highlighted-text, .period-text {
            font-size: .75rem;
        }

        .period-highlighted-text {
            font-weight: 600;
        }

        .period-text {
            font-weight: 400;
        }
    }

    .target {
        visibility: hidden;
        position: absolute;
        margin-top: -12em;
        margin-left: -24.75em;

        @media screen and (max-width: 900px) {
            margin-left: 0;
            margin-top: 0;
        }
    }

    .calendar-image {
        width: .8125rem;
        height: .9375rem;
        filter: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(1000%) hue-rotate(316deg) brightness(113%) contrast(100%);
    }

    .background-calendar-modal {
        background-color: rgba(0,0,0,.65);
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }
}

.modal-container {
    .modal-title {
        font-size: .875rem;
        font-weight: 600;
        color: #1E1E1E;
        text-align: center;
    }

    .period-configuration-container {
        margin-top: 1.25em;

        .modal-form {
            gap: 1.5rem;

            .time-inputs-container {
                gap: 1rem;
    
                .each-text {
                    font-size: .875rem;
                    font-weight: 600;
                }
    
                .number-time-input {
                    max-width: 2.9375rem;
                    width: 2.9375rem;
                    text-align: center;
                }
    
                .time-input {
                    max-width: 10.125rem;
                    width: 10.125rem;
                }
            }

            .time-container {
                .time-title {
                    font-size: .875rem;
                    font-weight: 600;
                    text-align: center;
                }

                .chips-container {
                    max-width: 17.375rem;
                    display: flex;
                    justify-content: center;
                    margin-top: .5em;
                }

                .day-picker-container {
                    display: flex;
                    margin-top: .5em;
                }

                .year-container {
                    gap: 1.5rem;
                }
            }

            .buttons-container {
                gap: 1rem;
            }
        }
    }
}