<main class="page-container">
    <h3 class="page-title">Crear rol</h3>
    <form  [formGroup]="form" (ngSubmit)="onCreateRole()">
        <div class="form-card">
            <div class="form-grids-container">
                <role-role-information-form [roleInformationForm]="roleInformationForm" />
    
                <h5 class="divider-label">Privilegios</h5>
                
                <role-permissions-form />
            </div>
        </div>
        
        <div class="buttons-fixed-container flex flex-row-reverse">
            <div pTooltip [tooltipOptions]="tooltipOptions" [tooltipDisabled]="form.valid">
                <p-button
                    id="submit-button"
                    styleClass="submit-button"
                    type="submit" 
                    label="Crear"
                    [loading]="isLoading"
                    [disabled]="!form.valid || !checkValuesSwitchForm()"
                />
            </div>
            <p-button
                id="cancel-button"
                styleClass="secondary-button"
                type="button" 
                label="Cancelar"
                (onClick)="onCancelRoleCreation()"
                [disabled]="isLoading"
            />
        </div>
    </form>
    <div *ngIf="isScreenSmall" class="version-container">
        <shared-version-app />
    </div>
</main>