<div class="form-grid-2">
    <div class="form-input-container">
        <span class="input-label-form">
            Administración
        </span>
        <div class="switch-group-container form-grid-2">
            <role-permission-switch label="Usuarios" [permissions]="userPermissions" />
            <role-permission-switch label="Roles" [permissions]="rolePermissions" />
        </div>
    </div>
    <div class="form-grid-2">
        <div class="form-input-container">
            <role-permission-switch label="Fuentes de datos" [permissions]="dataSourcesPermissions" />
            <role-permission-switch label="Tableros BI" [permissions]="biBoardsPermissions" />
            <role-permission-switch label="Configurar notificaciones" [permissions]="notificationsPermissions" />
        </div>
        <div class="form-input-container">
            <role-permission-switch label="Informes" [permissions]="reportsPermissions" />
        </div>
    </div>
</div>