<form class="container form-grids-container" [formGroup]="passwordForm">
    <div class="form-grid-3">
        <div class="form-input-container">
            <div class="form-input-container">
                <label class="input-label-form" for="password">
                    Contraseña
                </label>
                <span class="input-password-show-hide">
                    <button 
                        id="show-password-button"
                        class="show-password-button"
                        type="button"
                        [disabled]="enabledShowPasswordButton(true)"
                        (click)="togglePasswordVisibility(true)"
                    >
                        Ver
                    </button>
                    <input 
                        pInputText 
                        validInputWithoutMessage
                        class="input-password-switch" 
                        id="password" [type]="hidePassword ? 'text' : 'password'"
                        name="password"
                        formControlName="password"
                        autocomplete="off"
                        readonly onfocus="this.removeAttribute('readonly');"
                    />
                </span>
                <shared-input-password-conditions [conditions]="passwordConditions" />
            </div>
        </div>
        <div class="form-input-container">
            <div class="form-input-container">
                <label class="input-label-form" for="password-confirmation">
                    Confirme su contraseña
                </label>
                <span class="input-password-show-hide">
                    <button 
                        id="show-password-confirmation-button"
                        class="show-password-button"
                        type="button"
                        [disabled]="enabledShowPasswordButton(false)"
                        (click)="togglePasswordVisibility(false)"
                    >
                        Ver
                    </button>
                    <input 
                        pInputText 
                        validInputWithoutMessage 
                        class="input-password-switch" 
                        id="password-confirmation" [type]="hidePasswordConfirmation ? 'text' : 'password'"
                        name="passwordConfirmation"
                        formControlName="passwordConfirmation"
                        autocomplete="off"
                        readonly onfocus="this.removeAttribute('readonly');"
                    />
                </span>
                <div class="password-conditions-password-generator-container flex flex-row">
                    <shared-input-password-conditions [conditions]="passwordConfirmationConditions" />
                    <button 
                        id="generate-password-button"
                        class="generate-password-button flex flex-row flex-ai-center"
                        (click)="generatePassword()"
                    >
                        <img src="../../../../../assets/images/icons/keyIcon.svg" alt="Generar contraseña" />
                        <span>Generar contraseña</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="form-input-container">
            <div class="flex flex-row flex-ai-center checkbox-container">
                <p-checkbox
                    class="checkbox"
                    [binary]="true"
                    formControlName="sendEmail"
                    inputId="sendEmail"
                    inputId="sendEmail"
                />
                <label class="label-checkbox-send-email" for="sendEmail">Enviar información al correo electrónico del usuario registrado.</label>
            </div>
        </div>
    </div>
</form>