.container {
    margin-top: 1em;
}

.password-conditions-password-generator-container {
    gap: 1.125em;
}

.generate-password-button {
    background: transparent;
    border: none;
    gap: 5px;
    cursor: pointer;
    padding: 0;
    text-align: start;

    &:hover {
        img {
            filter: var(--filter-secondary-color);
        }

        span {
            color: rgba(var(--secondary-color), 1);
        }
    }

    img {
        width: 14px;
        height: 14px;
    }

    span {
        color: #535353;
        font-size: .75rem;
        font-weight: 500;
    }
}

.checkbox-container {
    gap: 8px;
    margin-top: 1.475em;

    @media screen and (max-width: 900px) {
        margin-top: 0;
    }
    
    .label-checkbox-send-email {
        font-weight: 400;
        font-size: .75rem;
        color: #1E1E1ECC;
    }
}