@font-face {
    font-family: 'Montserrat';
    src: url('./../assets/fonts/Montserrat.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('./../assets/fonts/WorkSans.woff2') format('woff');
    font-display: swap;
}