@import './variables';

:root {
    .p-button {
        background-color: rgba(var(--principal-color), 1);
        color: #FFFFFF;
        border: 1px solid rgba(var(--principal-color), 1);
        border-radius: 20px;
        padding: 1em 2em;
        margin: 0 !important;
        font-size: .75rem;
        font-weight: 600;
        cursor: pointer;
        gap: 1em;

        &.secondary-button {
            border: 1px solid rgba(var(--principal-color), 1);
            background: transparent;
            color: rgba(var(--principal-color), 1);

            &:disabled {
                background-color: transparent;
                border: 1px solid #E2E2E2;
                cursor: not-allowed;
                opacity: 1;
                color: #E2E2E2;
            }

            &:enabled:hover,
            &:enabled:focus,
            &:enabled:active {
                background: rgba(var(--secondary-color), 1);
                border: 1px solid rgba(var(--secondary-color), 1);
                color: #FFFFFF;
            }
        }

        &.tertiary-button {
            border: 1px solid transparent;
            background: transparent;
            color: rgba(var(--principal-color), 1);

            &:disabled {
                background-color: transparent;
                border: 1px solid transparent;
                cursor: not-allowed;
                opacity: 1;
                color: #E2E2E2;
            }

            &:enabled:hover,
            &:enabled:focus,
            &:enabled:active {
                background: transparent;
                border: 1px solid transparent;
                color: rgba(var(--secondary-color), 1);
            }
        }

        &:enabled:hover,
        &:enabled:focus,
        &:enabled:active {
            background-color: rgba(var(--secondary-color), 1);
            border-color: rgba(var(--secondary-color), 1);
        }

        &:enabled:focus {
            box-shadow: none;
        }

        &:disabled {
            background-color: #E2E2E2;
            border: 1px solid #E2E2E2;
            cursor: not-allowed;
            opacity: 1;
        }
    }

    .p-inputtext {
        width: 100%;
        padding: .75em;
        color: #000000;
        font-family: var(--principal-font);
        font-size: .75rem;
        font-weight: 400;
        border: .5px solid #E2E2E2;
        border-radius: 6px;

        &:disabled {
            opacity: 1;
            background: #E2E2E2;
            color: #707070;
        }

        &:enabled:hover {
            border-color: rgba(var(--principal-color), 1);
        }

        &:enabled:focus {
            box-shadow: none;
            border-color: rgba(var(--principal-color), .8);
        }

        &.ng-dirty {
            &.ng-invalid {
                border-color: #AD0808;
            }
        }
    }

    p-dropdown.ng-dirty.ng-invalid>.p-dropdown {
        border-color: #AD0808;
    }

    .p-dropdown {
        width: 100%;

        &.p-disabled {
            opacity: 1;
            background: #E2E2E2;
            color: #707070;

            .p-dropdown-label {
                color: #707070;
            }

            .p-dropdown-trigger {
                svg {
                    color: #707070;
                }
            }
        }

        &:not(.p-disabled).p-focus {
            box-shadow: none;
            border-color: rgba(var(--principal-color), 1);
        }

        &:not(.p-disabled):hover {
            border-color: rgba(var(--principal-color), 1);
        }

        .p-dropdown-label {
            border: none !important;
        }

        .p-dropdown-trigger {
            width: fit-content;
            margin-right: .75em;

            svg {
                color: rgba(var(--principal-color), 1);
                width: 14px;
                height: 14px;
            }
        }
    }

    .p-dropdown-panel {
        box-shadow: 0px 3px 11px #00000029;
        border: 1px solid #E2E2E2;
        border-radius: 5px;
        overflow: hidden;

        .p-dropdown-items-wrapper {
            ul.p-dropdown-items {
                padding: .5em 0;

                li.p-dropdown-item {
                    padding: .8125em;

                    &:hover {
                        background-color: rgba(var(--principal-color), 1) !important;

                        span {
                            color: #FFFFFF;
                        }
                    }

                    &.p-highlight {
                        background-color: rgba(var(--principal-color), .25);
                    }

                    span {
                        font-size: .75rem;
                        font-weight: 400;
                        color: #1E1E1E;
                    }
                }
            }
        }
    }

    .p-checkbox {
        height: 17px;
        width: 17px;

        &:not(.p-checkbox-disabled) {
            .p-checkbox-box {
                &:hover {
                    border-color: #D4D4D5;
                }

                &.p-highlight {
                    &:hover {
                        background-color: #FFFFFF;
                        border: 1px solid rgba(var(--principal-color), 1);
                    }
                }


                &.p-focus {
                    box-shadow: none;
                    border-color: rgba(var(--principal-color), 1);
                }
            }
        }

        .p-checkbox-box {
            height: 17px;
            width: 17px;
            border: 1px solid #D4D4D5;
            border-radius: 4px;

            &.p-highlight {
                background-color: #FFFFFF;
                border: 1px solid rgba(var(--principal-color), 1);
            }

            .p-checkbox-icon {
                color: #000000;
                width: 13px;
                height: 12px;
            }
        }
    }

    .p-sidebar {

        .p-sidebar-header,
        .p-sidebar-content,
        .p-sidebar-footer {
            padding: 0;
        }
    }

    .p-sidebar-mask {
        &.p-component-overlay-enter {
            animation: p-component-overlay-enter-animation-edited 150ms forwards;
        }

        &.p-component-overlay-leave {
            animation: p-component-overlay-leave-animation-edited 150ms forwards;
        }

        @keyframes p-component-overlay-enter-animation-edited {
            from {
                background-color: transparent;
            }

            to {
                background-color: rgba(0, 0, 0, .65);
            }
        }

        @keyframes p-component-overlay-leave-animation-edited {
            from {
                background-color: rgba(0, 0, 0, .65);
            }

            to {
                background-color: transparent;
            }
        }
    }

    .p-dialog-mask {
        background: rgba(0, 0, 0, .65);

        &.p-component-overlay-enter {
            animation: p-component-overlay-enter-animation-edited 150ms forwards;
        }

        &.p-component-overlay-leave {
            animation: p-component-overlay-leave-animation-edited 150ms forwards;
        }

        @keyframes p-component-overlay-enter-animation-edited {
            from {
                background-color: transparent;
            }

            to {
                background-color: rgba(0, 0, 0, .65);
            }
        }

        @keyframes p-component-overlay-leave-animation-edited {
            from {
                background-color: rgba(0, 0, 0, .65);
            }

            to {
                background-color: transparent;
            }
        }

        .p-dialog {
            border-radius: 10px;
            max-width: 95vw;
            max-height: 95vh;
            overflow: hidden;
            background: #FFFFFF;

            @media screen and (max-width: 900px) {
                width: 100%;
            }

            .p-dialog-header,
            .p-dialog-footer {
                border-radius: 0px;
                padding: 0;
            }

            .p-dialog-header {
                padding-top: 1em;

                .p-dialog-header-icons {
                    position: absolute;
                    top: 1em;
                    right: 1em;

                    .p-dialog-header-close {
                        height: fit-content;
                        width: fit-content;

                        &:hover {
                            color: #ACACAC;
                            border: none;
                            background: none;
                        }

                        &:focus {
                            box-shadow: none;
                        }

                        svg {
                            color: #ACACAC;
                        }

                        span {
                            display: none;
                        }
                    }
                }
            }

            .p-dialog-content {
                padding: 1em;
            }

            .p-dialog-footer {
                padding: 1.5em;
                border-top: 1px solid #D4D4D5;
            }
        }
    }

    .p-datatable {
        border-top: 1px solid #D4D4D5;
        border-bottom: 1px solid #D4D4D5;

        .p-datatable-table {
            .p-datatable-thead {
                tr th {
                    color: #535353;
                    font-size: .75rem;
                    font-weight: 600;
                    padding: .8125em 1em;
                    background: #FFFFFF;
                    border: none;

                    &:not(:first-child) {
                        border-left: 1px solid #D4D4D5;
                    }

                    &.cell-align-center {
                        text-align: center;
                    }
                }
            }

            .p-datatable-tbody {
                tr {
                    &:nth-child(odd) {
                        td {
                            background: rgba(var(--secondary-color), .08);

                            &.p-frozen-column {
                                background: #FFFFFF;

                                &:after {
                                    content: "";
                                    background: rgba(var(--secondary-color), .08);
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    top: 0;
                                    left: 0;
                                    z-index: -1;
                                }
                            }
                        }
                    }

                    td {
                        color: #656565;
                        font-size: .75rem;
                        font-weight: 400;
                        padding: .8125em 1em;
                        border: none;
                        background: #FFFFFF;

                        &:not(:first-child) {
                            border-left: 1px solid #D4D4D5;
                        }

                        &.cell-align-center {
                            text-align: center;
                        }

                        &.p-frozen-column {
                            z-index: 0;
                        }
                    }
                }
            }
        }
    }

    .p-inputswitch {
        width: 45px;
        height: 24px;

        &:hover {
            .p-inputswitch-slider {
                background: #DFDFDF !important;
            }
        }

        &.p-inputswitch-checked {
            &:hover {
                .p-inputswitch-slider {
                    background: rgba(var(--principal-color), 1) !important;
                }
            }

            .p-inputswitch-slider {
                background: rgba(var(--principal-color), 1);

                &:before {
                    transform: translateX(22px);
                }
            }
        }

        .p-inputswitch-slider {
            box-shadow: none !important;
            background: #DFDFDF;

            &:before {
                left: 0px;
                top: 0px;
                border-radius: 50%;
                transition-duration: 0.2s;
                width: 22px;
                height: 22px;
                background: transparent radial-gradient(closest-side at 50% 50%, #FFFFFF 0%, #FCFCFC 100%) 0% 0% no-repeat padding-box;
                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1019607843);
                border: 1px solid #DEDFDF;
                margin: 0;
                padding: 0px;
            }
        }
    }

    .p-paginator {
        padding: 0;
        justify-content: flex-end;

        .p-paginator-element {
            margin: 0;
            border: 1px solid #DEDEDF;
            background: #FFFFFF;
            font-size: .75rem;
            font-weight: 400;
            color: #000000;
            font-family: var(--secondary-font);
            min-width: 63px;
            min-height: 38px;
            height: 38px;
            width: 63px;
            box-shadow: none;

            &:hover {
                background: #FFFFFF !important;
            }
        }

        .p-paginator-next {
            border-radius: 0px 5px 5px 0px;

            &:hover {
                border: 1px solid #DEDEDF !important;
            }
        }

        .p-paginator-prev {
            border-radius: 5px 0 0 5px;

            &:hover {
                border: 1px solid #DEDEDF !important;
            }
        }

        .p-paginator-pages {
            .p-paginator-page {
                margin: 0;
                border: 1px solid #DEDEDF;
                border-radius: 0;
                background: #FFFFFF;
                font-size: .75rem;
                font-weight: 400;
                color: #000000;
                font-family: var(--secondary-font);
                min-width: 38px;
                min-height: 38px;
                height: 38px;
                width: 38px;
                box-shadow: none;

                &:first-child {
                    border-left: none;
                }

                &:last-child {
                    border-right: none;
                }

                &:hover {
                    background: #FFFFFF !important;
                    border: 1px solid #DEDEDF !important;
                }

                &:not(:last-child) {
                    border-right: none;
                }

                &.p-highlight {
                    background: rgba(var(--principal-color), 1);
                    color: #FFFFFF;
                    border: 1px solid #DEDEDF;

                    &:first-child {
                        border-left: none;
                    }

                    &:last-child {
                        border-right: none;
                    }

                    &:hover {
                        background: rgba(var(--principal-color), 1) !important;
                        border: 1px solid #DEDEDF;

                        &:not(:last-child) {
                            border-right: none !important;
                        }
                    }

                    &:not(:last-child) {
                        border-right: none !important;
                    }
                }
            }
        }
    }

    .p-radiobutton {
        width: 1.062rem;
        height: 1.062rem;

        .p-radiobutton-box {
            border: 1px solid rgba(var(--principal-color), 1);
            box-shadow: none !important;
            width: 1.062rem;
            height: 1.062rem;

            &:hover {
                border-color: rgba(var(--principal-color), 1) !important;
            }

            &.p-highlight {
                background: #FFFFFF !important;
                border-color: rgba(var(--principal-color), 1) !important;
            }

            .p-radiobutton-icon {
                background: rgba(var(--principal-color), 1) !important;
                width: .5625rem;
                height: .5625rem;
            }
        }
    }

    p-multiselect.ng-dirty.ng-invalid > .p-multiselect {
        border-color: #AD0808;
    }

    .p-multiselect {
        width: 100%;

        &:not(.p-disabled).p-focus {
            box-shadow: none;
            border-color: rgba(var(--principal-color), 1);
        }

        &:not(.p-disabled):hover {
            border-color: rgba(var(--principal-color), 1);
        }

        .p-multiselect-label-container {
            .p-multiselect-label {
                padding: 0.75em;
                font-size: 0.75rem;
                font-weight: 400;
                display: flex;
                gap: 0.25rem;
                flex-wrap: wrap;

                .p-multiselect-token {
                    padding: .2em .75em;
                    background: rgba(var(--principal-color), .05);
                    color: rgba(var(--principal-color), 1);
                    gap: .5rem;
                    align-items: center;

                    svg {
                        margin: 0;
                        width: .875rem;
                        height: .875rem;
                    }

                    .p-multiselect-token-icon {
                        margin: 0;
                        transform: scaleY(.8);
                        font-weight: 500;
                    }
                }
            }
        }

        .p-multiselect-trigger {
            width: fit-content;
            margin-right: .75em;

            svg {
                color: rgba(var(--principal-color), 1);
                width: 14px;
                height: 14px;
            }
        }
    }

    .p-multiselect-panel {
        .p-multiselect-items-wrapper {
            ul.p-multiselect-items {
                padding: .5em 0;
                li.p-multiselect-item {
                    padding: .8125em;

                    &:hover {
                        background-color: rgba(var(--principal-color), 1) !important;

                        span {
                            color: #FFFFFF;
                        }
                    }

                    &.p-highlight {
                        background-color: rgba(var(--principal-color), .25);
                    }

                    &.p-multiselect-item:focus {
                        box-shadow: none;
                    }

                    span {
                        font-size: .75rem;
                        font-weight: 400;
                        color: #1E1E1E;
                    }
                }
            }
        }
    }

    .p-calendar {
        width: 100%;
        height: 100%;

        .p-inputtext {
            width: 0px;
            max-width: 0px;
            padding: 0px;
            border: none;
        }

        .p-button-icon-only {
            padding: 0px;
            width: fit-content;
            background: transparent;
            border: none;
            border-radius: 0;
            color: rgba(var(--principal-color), 1);

            &:hover, &:active, &:focus {
                background: transparent;
                border: none;
                color: rgba(var(--principal-color), 1);
            }

            &:after {
                display: none;
            }
        }
    }

    .p-datepicker {
        padding: 1em;

        .p-datepicker-group-container {
            .p-datepicker-group {
                .p-datepicker-header {
                    border: none;
                    padding: 0;

                    .p-datepicker-prev, .p-datepicker-next {
                        width: fit-content;
                        box-shadow: none;

                        &:hover {
                            border-radius: 0;
                            background: transparent;

                            svg {
                                color: rgba(var(--principal-color), 1);
                            }
                        }

                        svg {
                            width: .85rem;
                            height: .85rem;
                        }
                    }

                    .p-datepicker-title {
                        .p-datepicker-month, .p-datepicker-year {
                            color: #182137;
                            font-weight: 700;
                            font-size: .75rem;
                            margin: 0;
                            box-shadow: none;

                            &:hover {
                                color: rgba(var(--principal-color), 1);
                            }
                        }

                        .p-datepicker-decade {
                            color: #182137;
                            font-weight: 700;
                            font-size: .75rem;
                        }
                    }
                }

                .p-datepicker-calendar-container {
                    table.p-datepicker-calendar {
                        margin-bottom: 0px; 

                        thead {
                            tr {
                                th {
                                    color: #7B7B7B;
                                    font-weight: 400;
                                    font-size: .6875rem;

                                    &:first-child {
                                        padding-left: 0;
                                    }

                                    &:last-child {
                                        padding-right: 0;
                                    }
                                }
                            }
                        }

                        tbody {
                            tr {
                                td {
                                    &:first-child {
                                        padding-left: 0;
                                    }

                                    &:last-child {
                                        padding-right: 0;
                                    }

                                    &.p-datepicker-today {
                                        span {
                                            background: rgba(var(--principal-color), .25);
                                        }
                                    }

                                    span {
                                        color: #182137;
                                        font-weight: 600;
                                        font-size: .6875rem;
                                        width: 1.5rem;
                                        height: 1.5rem;
                                        border-radius: .25rem;
                                        box-shadow: none;

                                        &:hover {
                                            background: rgba(var(--principal-color), .25);
                                        }

                                        &.p-highlight {
                                            color: #FFFFFF;
                                            background: rgba(var(--principal-color), 1);
                                        }

                                        &.p-disabled {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .p-monthpicker {
            margin-bottom: 0;

            span {
                color: #7B7B7B;
                font-weight: 400;
                font-size: .6875rem;
                box-shadow: none !important;

                &:hover {
                    background: rgba(var(--principal-color), .25) !important;
                    border-radius: .25rem;
                }

                &.p-highlight {
                    color: #FFFFFF;
                    background: rgba(var(--principal-color), 1);
                    border-radius: .25rem;
                }
            }
        }

        .p-yearpicker {
            margin-bottom: 0;

            span {
                color: #7B7B7B;
                font-weight: 400;
                font-size: .6875rem;
                box-shadow: none !important;

                &:hover {
                    background: rgba(var(--principal-color), .25) !important;
                    border-radius: .25rem;
                }

                &.p-highlight {
                    color: #FFFFFF;
                    background: rgba(var(--principal-color), 1) !important;
                    border-radius: .25rem;
                }
            }
        }
    }

    .p-overlaypanel {
        margin-top: 0px;
        border-radius: 10px;
        border: none;
        
        &:before {
            content:none;
        }
    
        &:after {
            content:none;
        }

        .p-overlaypanel-content {
            padding: 1rem;
        }
    }

    .p-tooltip {
        .p-tooltip-text {
            background: #C5C5C5;
            color: #41454A;
            font-size: .625rem;
            font-weight: 400;
            border-radius: 1rem;
            padding: .25em .75em;
        }
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;

    @media screen and (max-width: 900px) {
        width: 9px;
        height: 5px;
    }
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgba(var(--principal-color), 1);
    border: 0px none #ffffff;
    border-radius: 50px;

    @media screen and (max-width: 900px) {
        border-radius: 0px;
        border-right: 4px solid #ffffff;
    }
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--principal-color), 1);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(var(--principal-color), 1);
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border: 0px none #ffffff;
    border-radius: 50px;

    @media screen and (max-width: 900px) {
        border-radius: 0px;
    }
}

::-webkit-scrollbar-track:hover {
    background: #ffffff;
}

::-webkit-scrollbar-track:active {
    background: #ffffff;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

body,
body .p-component,
button {
    font-family: var(--principal-font);
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

iframe {
    border: none;
    height: 100%;
    width: 100%;
}

input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='password'] {
    font-family: sans-serif !important;
    letter-spacing: 0.125em;
}

.input-mask {
    position: relative;
    display: flex;
    align-items: center;

    &:has(input:disabled) {
        .text-input-mask {
            color: #707070;
        }
    }

    .text-input-mask {
        position: absolute;
        left: 12px;
        font-weight: 600;
        font-size: .75rem;
    }

    input {
        padding-left: 3.25em !important;
    }
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-column {
    flex-direction: column;
}

.flex-jc-center {
    justify-content: center;
}

.flex-jc-space-between {
    justify-content: space-between;
}

.flex-jc-flex-end {
    justify-content: flex-end;
}

.flex-ai-center {
    align-items: center;
}

.flex-ai-flex-end {
    align-items: flex-end;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-1 {
    flex: 1 1;
}

.white-space-nowrap {
    white-space: nowrap;
}

.w-0 {
    width: 0%;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.h-vh-100 {
    height: 100vh;
}

.overflow-auto {
    overflow: auto;
}

.overflow-y-auto {
    overflow-y: auto;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.overflow-hidden {
    overflow: hidden;
}

.position-fixed {
    position: fixed;
}

.input-label {
    color: #000000;
    font-size: .75rem;
    font-weight: 400;
    margin: .75em 0 .75em 0;
}

.identification-input {
    display: flex;
    flex-direction: row;
    gap: .5rem;

    &>*:first-child {
        width: 35%;
    }

    &>*:last-child {
        width: 65%;
    }
}

.input-password-show-hide {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;

    .show-password-button {
        right: 9px;
        position: absolute;
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        font-size: .625rem;
        font-weight: 600;
        color: rgba(var(--principal-color), 1);
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            color: rgba(var(--secondary-color), 1);
        }

        &:disabled {
            color: #D1D0D0;
        }
    }

    .input-password-switch {
        padding-right: 3em;
        width: 100%;
    }
}

.powerbi-report-container {
    border-radius: 1.25rem;
    overflow: hidden;
    border: 2px solid #DEDEDF;
    background: #FFFFFF;
}

.error-input-message {
    color: #AD0808;
    font-size: .625rem;
    font-weight: 400;
    margin-top: .5em;
}

.modal-alert-popup {
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    border-radius: 20px !important;
    position: relative;
    padding: 0;
    width: 41.375em !important;

    .modal-alert-close-button {
        margin: 0;
        width: auto;
        height: auto;
        position: absolute;
        top: 16px;
        right: 16px;
        color: #ACACAC;

        &:hover {
            color: #ACACAC;
        }

        &:focus {
            box-shadow: none;
        }
    }

    .modal-alert-html-container {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        margin: 1.5em 4.875em 0 4.875em;

        @media screen and (max-width: 900px) {
            margin: 1.5em 1.75em 0 1.75em;
        }

        &.error-type {
            .modal-title {
                color: #AD0808;
            }
        }

        &.success-type {
            .modal-title {
                color: #28AF28;
            }
        }

        &.warning-type {
            .modal-title {
                color: #F28C02;
            }
        }

        &.info-type {
            .modal-title {
                color: blue;
            }
        }

        .modal-alert-icon {
            margin-bottom: 1em;

            img {
                width: 72px;
                height: 72px;
            }
        }

        .modal-title {
            font-size: 1.375rem;
            font-weight: 600;
            margin-bottom: 1em;
        }

        .modal-text {
            font-size: 1rem;
            font-weight: 400;
            color: #000000;
            font-family: var(--secondary-font);
        }

        .modal-highlighted-text {
            margin-top: 1em;
            font-size: 1rem;
            font-weight: 600;
            color: #000000;
            font-family: var(--secondary-font);
        }
    }

    .modal-alert-actions {
        width: 100%;
        margin: 2em 0 1.5em 0;
        padding-top: 1.125em;
        border-top: 1px solid #D4D4D5;
        gap: 1em;

        .modal-alert-button {
            font-size: .75rem;
            font-weight: 600;
            font-family: var(--principal-font);
            border-radius: 20px;
            padding: .75em 1.5em;

            color: rgba(var(--principal-color), 1);
            background: #FFFFFF;
            border: 1px solid rgba(var(--principal-color), 1);

            &:hover {
                color: rgba(var(--secondary-color), 1);
                border: 1px solid rgba(var(--secondary-color), 1);
                background: #FFFFFF;
            }
        }

        .modal-alert-button-primary {
            background: rgba(var(--principal-color), 1);
            color: #FFFFFF;
            border: none;

            &:hover {
                background: rgba(var(--secondary-color), 1);
                color: #FFFFFF;
                border: none;
            }
        }
    }
}

.page-container {
    padding: 1.562em 1em;

    @media screen and (max-width: 900px) {
        margin-bottom: 4.5em;
    }

    .buttons-fixed-container {
        position: absolute;
        bottom: 0;
        padding: 1.125em 1em;
        background: #FFFFFF;
        margin-left: -1em;
        width: calc(100% - 17.5rem);
        gap: 1rem;
        border-top: 1px solid rgba(212, 212, 212, .2);
        z-index: 1;

        @media screen and (max-width: 900px) {
            margin: 0;
            width: 100%;
            left: 0;
        }
    }
}

.page-title {
    font-size: .875rem;
    font-weight: 600;
    color: #000000;

    .right-title-container {
        gap: 1rem;

        .hide-filters-button,
        .create-anchor {
            font-size: .75rem;
            font-weight: 500;
            color: rgba(var(--principal-color), 1);
            gap: .5rem;
            cursor: pointer;
            padding: 0;

            &:hover {
                color: rgba(var(--secondary-color), 1);

                img {
                    filter: var(--filter-secondary-color);
                }
            }
        }

        .hide-filters-button {
            border: none;
            background: none;

            &:disabled {
                color: #E2E2E2;

                img {
                    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1410%) hue-rotate(166deg) brightness(107%) contrast(77%);
                }
            }

            img {
                width: 20px;
                height: 14px;
            }
        }

        .create-anchor {
            text-decoration: none;

            img {
                width: 23px;
                height: 23px;
            }
        }
    }
}

.page-title--border-bottom {
    padding-bottom: 0.5em;
    border-bottom: 1px solid #9B9B9B;
}

.form-card:not(:has(~ .form-card)) {
    @media screen and (min-width: 899px) {
        margin-bottom: 4.5em;
    }
}

.form-card--no-margin-bottom {
    margin-bottom: 0 !important;
}

.form-card--no-padding {
    padding: 0 !important;
}

.form-card--no-shadow {
    box-shadow: none !important;
}

.form-card {
    margin-top: 1em;
    padding: 1em;
    box-shadow: 0px 3px 10px #00000029;
    border-radius: 10px;
    background: #FFFFFF;

    .form-card-title {
        font-size: .875rem;
        font-weight: 400;
        color: #000000;
        padding-bottom: .5em;
        border-bottom: 1px solid #9B9B9B;
        margin-bottom: .25em;
    }

    .form-card-title--no-border {
        border-bottom: none;
    }

    .form-card-title-mandatory-test {
        color: #AD0808;
        font-size: .625rem;
        font-weight: 400;
    }

    .results-actions-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.6875em;

        .total-results {
            color: #484848;
            font-weight: 400;
            font-size: .75rem;

            .total-results-number {
                color: rgba(var(--secondary-color), 1);
            }
        }

        .perpage-results-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1em;

            .perpage-results-text {
                color: #7E7E7E;
                font-weight: 400;
                font-size: .625rem;
            }
        }
    }

    .form-card-buttons-container {
        border-top: 1px solid #9B9B9B;
        margin: 0 -1em;
        padding: 1em 1em 0 1em;
        gap: 1em;
    }
}

.actions-table-label-container {
    display: flex;
    flex-direction: column;

    .actions-label-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3.5rem;

        @media screen and (max-width: 900px) {
            gap: 1.45rem;
        }

        .action-label {
            color: #707070;
            font-weight: 400;
            font-size: .5625rem;
        }
    }
}

.actions-table-container {
    display: flex;
    flex-direction: row;
    gap: 3.625rem;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 900px) {
        gap: 1.5rem;
    }

    button {
        margin: 0;
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;

        &:hover {
            img {
                filter: var(--filter-secondary-color);
            }
        }
    }
}

.switch-table-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .switch-container {
        max-width: 100px;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.switch-label {
    color: #656565;
    font-weight: 400;
    font-size: .75rem;
    font-family: var(--secondary-font);
    margin-right: .5rem;
}

.form-grids-container {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.form-grid-1,
.form-grid-2,
.form-grid-3,
.form-grid-4 {
    display: grid;
    column-gap: 1rem;
    row-gap: .75rem;

    @media screen and (max-width: 900px) {
        grid-template-columns: 1fr !important;
    }
}

.form-grid-1 {
    grid-template-columns: 1fr;
}

.form-grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.form-grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.form-grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

.form-input-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    .input-label-form {
        font-size: .75rem;
        font-weight: 600;
        color: #535353;

        .input-label-form--required {
            font-size: .625rem;
            font-weight: 400;
            color: #AD0808;
        }
    }

    .input-sub-label-form {
        color: #454545;
        font-size: .75rem;
        font-weight: 400;
    }
}

.divider-label {
    color: #535353;
    font-size: .75rem;
    font-weight: 600;
    border-bottom: 1px solid #9B9B9B;
    width: 100%;
    padding-bottom: .5em;
}