@import './fonts';

:root {
    --principal-font: "Montserrat", sans-serif;
    --secondary-font: "Work Sans", sans-serif;
    --principal-color: 92, 15, 139;
    --secondary-color: 67, 124, 116;
    --filter-principal-color: invert(13%) sepia(69%) saturate(5147%) hue-rotate(275deg) brightness(70%) contrast(103%);
    --filter-secondary-color: invert(41%) sepia(37%) saturate(426%) hue-rotate(122deg) brightness(97%) contrast(91%);
}
