<ul class="options-container flex flex-column">
    <li
        *ngFor="let option of options"
        class="anchor-option flex flex-row flex-jc-space-between flex-ai-center"
        routerLinkActive="active"
        (mouseenter)="assignStyle(option.id, false)"
        (mouseleave)="assignStyle(option.id, true)"
    >
        <a id="anchor-option-{{ option.id }}" class="w-100" [routerLink]="option.route">{{ option.name }}</a>
        <ng-container *ngIf="option.subOptions.length > 0">
            <img src="../../../../../assets/images/icons/arrowOption.svg" alt="Ver opción">
            <div id="div-sublist-{{ option.id }}" class="suboptions-container">
                <ul id="sublist-{{ option.id }}" class="anchor-suboption-container flex flex-column">
                    <li 
                        *ngFor="let suboption of option.subOptions"
                        class="anchor-suboption flex"
                        routerLinkActive="active"
                    >
                        <a id="anchor-option-{{ suboption.id }}" class="w-100" [routerLink]="suboption.route">{{ suboption.name }}</a>
                    </li>
                </ul>
            </div>
            <div class="mask"></div>
        </ng-container>
    </li>
</ul>