.options-container {
    padding: 0px;

    .anchor-option {
        cursor: pointer;

        &:not(:last-child) {
            border-bottom: 1px solid rgba(212, 212, 212, .2);
        }

        &:hover {
            background: rgba(var(--principal-color), .25);

            a {
                color: rgba(var(--principal-color), 1);
            }

            img {
                filter: var(--filter-principal-color);
            }
            
            &:not(:has(.mask:hover)) {
                .mask {
                    display: block;
                }
            }

            .suboptions-container {
                display: block;
            }
        }

        &.active {
            a {
                font-weight: 600;
                color: rgba(var(--principal-color), 1);
            }
        }

        a {
            font-size: .75rem;
            font-weight: 400;
            padding: 1em 2em 1em 3em;
            text-decoration: none;
            color: #000000;
        }

        img {
            transform: rotate(-90deg);
            height: 5px;
            width: 8px;
            margin-right: 2em;
        }

        .suboptions-container {
            display: none;
            position: fixed;
            left: 17.4rem;
            width: 240px;
            z-index: 1003;

            &:before {
                content: '';
                position: fixed;
                top: 0;
                background: #D0DEDC;
                width: inherit;
                height: 100%;
                box-shadow: 0px 3px 6px #00000029;
                border-left: 1px solid rgba(212, 212, 212, .2);
                cursor: default;
            }

            .anchor-suboption-container {
                list-style: none;
                position: relative;
                z-index: 1;
                background: #FFFFFF;
                padding: 0;

                .anchor-suboption {
                    cursor: pointer;

                    &:not(:last-child) {
                        border-bottom: 1px solid rgba(212, 212, 212, .2);
                    }

                    &:hover {
                        background: rgba(var(--principal-color), .25);
            
                        a {
                            color: rgba(var(--principal-color), 1);
                        }
            
                        img {
                            filter: var(--filter-principal-color);
                        }
                    }
            
                    &.active {
                        a {
                            padding: 1em 2em 1em 3em;
                            font-weight: 600;
                            color: rgba(var(--principal-color), 1);
                        }
                    }

                    a {
                        color: #000000;
                        font-weight: 400;
                    }
                }
            }
        }

        .mask {
            display: none;
            background: rgba(0, 0, 0, .65);
            height: 100%;
            width: 100%;
            position: fixed;
            left: 17.4rem;
            top: 0;
            cursor: default;
            z-index: 1002;
        }
    }
}