<div class="notification-card-container flex flex-row flex-ai-center">
    <div class="notification-info-container flex flex-column">
        <h5 class="notification-title flex flex-row flex-ai-center">
            <img src="../../../../../../assets/images/icons/alertnotificationIcon.svg" alt="Notificación">
            <span>{{ notification.title }}</span>
        </h5>
        <p class="notification-description">{{ notification.description }}</p>
        <span class="notification-date">{{ formatDate(notification.date) }}</span>
    </div>
    <div class="notification-button-container flex flex-column">
        <button 
            id="button-check-{{ notification.id }}"
            class="notification-button flex flex-ai-center flex-jc-center"
            [ngClass]="notification.isReaded ? 'readed' : ''"
            (click)="onReadNotification(notification.id)"
        >
            <img src="../../../../../assets/images/icons/doublecheckIconG.svg" alt="Lectura de notificación">
        </button>
        <button 
            id="button-delete-{{ notification.id }}"
            class="notification-button flex flex-ai-center flex-jc-center"
            (click)="onDeleteNotification(notification.id)"
        >
            <img src="../../../../../assets/images/icons/deletenotificationIconG.svg" alt="Lectura de notificación">
        </button>
    </div>
</div>
