.notification-card-container {
    border-radius: .625rem;
    padding: .625em .75em;
    background: #F2F2F2;
    gap: .875rem;

    .notification-info-container {
        gap: .75rem;

        .notification-title {
            gap: .5rem;

            img {
                width: 1.4375rem;
                height: 1.25rem;
            }

            span {
                font-size: .875rem;
                color: rgba(var(--principal-color), 1);
                font-weight: 600;
            }
        }

        .notification-description {
            font-size: .75rem;
            font-weight: 400;
            color: #000000;
        }

        .notification-date {
            color: #6D6D6D;
            font-weight: 400;
            font-size: .625rem;
        }
    }

    .notification-button-container {
        gap: .75rem;

        .notification-button {
            width: 2.625rem;
            height: 2.625rem;
            border-radius: .3125rem;
            background: rgba(255, 255, 255, .5);
            border: none;
            cursor: pointer;

            &.readed {
                background: rgba(var(--principal-color), .5);

                img {
                    filter: brightness(0) saturate(100%) invert(12%) sepia(48%) saturate(6339%) hue-rotate(273deg) brightness(89%) contrast(104%);
                }
            }
        }
    }
}
