<main class="page-container">
    <shared-title-filter
        [title]="'Usuarios del sistema'"
        [showForm]="showForm"
        [showFormPermission]="userPermissions.consult"
        [buttonRedirectLabel]="'Crear usuario'"
        [buttonRedirectRoute]="'/administration/systems-users/user-creation'"
        [buttonRedirectPermission]="userPermissions.create"
        [showFilters]="formIsDirty"
        (hideFilters)="showForm = !showForm"
    />

    <div *ngIf="showForm" [checkPermissionToRender]="userPermissions.consult" [@slideInOut] class="form-card">
        <h4 class="form-card-title">Consultar usuarios</h4>
        <user-search-users-form [searchUsersForm]="searchUsersForm" />
        <div class="form-card-buttons-container flex flex-row flex-jc-flex-end">
            <p-button id="cancel-button" styleClass="tertiary-button" type="button" label="Limpiar campos"
                [disabled]="searchUsersForm.invalid || !checkValuesForm()" (onClick)="clearSearchUsersForm()" />
            <div pTooltip [tooltipOptions]="tooltipOptions" [tooltipDisabled]="!(searchUsersForm.invalid || !checkValuesForm())">
                <p-button 
                    id="submit-button" 
                    styleClass="submit-button" 
                    type="submit" 
                    label="Consultar"
                    [disabled]="searchUsersForm.invalid || !checkValuesForm()" 
                    [loading]="isLoading"
                    (onClick)="onSearchUsers()"
                />
            </div>
        </div>
    </div>

    <div #userTable *ngIf="formIsDirty" [style.display]="isLoading && users.length === 0 ? 'none' : ''" [checkPermissionToRender]="userPermissions.consult" [@slideInOut] class="form-card">
        <shared-datagrid-layout 
            [isEmpty]="!users.length && !isLoading"
            [totalResults]="totalUsers"
            [perPage]="searchUsersForm.value.perPage"
            (changePerPage)="changePerPage($event)"
        >
            <user-datagrid-users
                [users]="users" 
                [totalUsers]="totalUsers" 
                [perPage]="searchUsersForm.value.perPage"
                [currentPage]="searchUsersForm.value.page"
                (pageChange)="onPageChange($event)"
            />
        </shared-datagrid-layout>
    </div>
</main>