<main class="page-container h-100" *ngIf="iframeURL">
    <div class="powerbi-report-container h-100">
        <iframe title="BI Board" *ngIf="safeIframeURL" [src]="safeIframeURL" allowfullscreen="true"></iframe>
    </div>
    
    <div *ngIf="isScreenSmall" class="version-container">
        <shared-version-app />
    </div>
</main>