<p-table [value]="users" [scrollable]="true" scrollHeight="370px" class="users-datagrid">
    <ng-template pTemplate="header">
        <tr>
            <th id="identification-column">Identificación</th>
            <th id="complet-name-column">Nombres y apellidos</th>
            <th id="email-column">Correo electrónico</th>
            <th id="role-column" class="cell-align-center">Rol</th>
            <th id="state-column" class="cell-align-center" alignFrozen="right" pFrozenColumn>Estado</th>
            <th id="actions-column" class="cell-align-center" alignFrozen="right" pFrozenColumn>
                <div class="actions-table-label-container">
                    <span>Acciones</span>
                    <div class="actions-label-container">
                        <p [checkPermissionToRender]="userPermissions.details" class="action-label">Ver</p>
                        <p [checkPermissionToRender]="userPermissions.edit" class="action-label">Editar</p>
                    </div>
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>{{ user.documentNumber }}</td>
            <td>{{ user.completeName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.roles | mapArrayByProperty:'name' | joinArrayBy:' - ' }}</td>
            <td class="cell-align-center" alignFrozen="right" pFrozenColumn>
                <div 
                    [checkPermissionToRender]="userPermissions.inactive" 
                    [alternativeElement]="switchText" 
                    class="switch-table-container"
                >
                    <div class="switch-container">
                        <span class="switch-label">{{ user.isActive | booleanToString:['Activo', 'Inactivo'] }}</span>
                        <p-inputSwitch 
                            inputId="switch-{{ user.id }}" 
                            [ngModel]="user.isActive"
                            [readonly]="true"
                            (click)="onSwitchClick(user.isActive, user.id, user.completeName)"
                        />
                    </div>
                </div>
                <span #switchText>
                    {{ user.isActive | booleanToString:['Activo', 'Inactivo'] }}
                </span>
            </td>
            <td alignFrozen="right" pFrozenColumn>
                <div class="actions-table-container">
                    <button 
                        [checkPermissionToRender]="userPermissions.details"
                        id="show-button-{{ user.id }}"
                        (click)="onShowUserDetails(user.id)"
                    >
                        <img src="../../../../../assets/images/icons/viewIcon.svg" alt="Ver">
                    </button>
                    <button 
                        [checkPermissionToRender]="userPermissions.edit" 
                        id="edit-button-{{ user.id }}"
                        (click)="onShowEditUser(user.id)"
                    >
                        <img src="../../../../../assets/images/icons/editIcon.svg" alt="Editar">
                    </button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<div class="paginator-container">
    <shared-paginator 
        [rows]="perPage" 
        [totalRecords]="totalUsers" 
        [currentPage]="currentPage"
        (pageChange)="onPageChange($event)"
    />
</div>

<user-user-details
    [(userId)]="userToGet"
    (userIdChange)="onShowUserDetails($event)"
/>

<user-user-edit
    [(userId)]="userToEdit"
    (userIdChange)="onShowEditUser($event)"
    (userEdited)="changeUserEdited($event)"
/>