<p-table [value]="files" [scrollable]="true" scrollHeight="370px">
    <ng-template pTemplate="header">
        <tr>
            <th id="file-column" class="w-100 cell-align-center">Archivo</th>
            <th id="status-column" class="cell-align-center">Estado</th>
            <th id="actions-column" class="cell-align-center" alignFrozen="right" pFrozenColumn>
                <div class="actions-table-label-container">
                    <span>Acciones</span>
                    <div class="actions-label-container">
                        <p class="action-label">Detalle</p>
                        <p class="action-label">Eliminar</p>
                    </div>
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-file>
        <tr>
            <td class="w-100">
                <div class="file-uploaded-container flex flex-row flex-ai-center">
                    <img 
                        [class.pending] = "file.status === status.pending || file.status === status.isLoading"
                        src="../../../../../assets/images/icons/documentIcon.svg" 
                        alt="File uploaded"
                    >
                    <div class="name-status-container flex flex-column">
                        <h6 class="file-name">{{ file.fileName }}</h6>
                        <p 
                            class="file-status"
                            [ngClass]="{'completed': file.status === status.complete, 'incompleted' : file.status === status.incomplete }"
                        >
                            {{ file.status }}
                        </p>
                    </div>
                </div>
            </td>
            <td>
                <div class="status-container flex flex-column flex-jc-center flex-ai-center">
                    <p class="status-text">{{ file.status | checkStatus }}</p>
                    <div class="status-line w-100">
                        <div 
                            class="progress"
                            [ngClass]="{'loading': file.status === status.isLoading, 'completed': file.status === status.complete, 'incompleted' : file.status === status.incomplete }">
                        </div>
                    </div>
                </div>
            </td>
            <td alignFrozen="right" pFrozenColumn>
                <div class="actions-table-container">
                    <button
                        id="details-button-{{ file.id }}"
                        [disabled]="file.status !== status.complete && file.status !== status.incomplete"
                        class="details-button"
                        (click)="onShowDetails(file)"
                    >
                        <img src="../../../../../assets/images/icons/viewIcon.svg" alt="Details">
                    </button>
                    <button 
                        id="delete-button-{{ file.id }}"
                        [disabled]="file.status !== status.complete && file.status !== status.incomplete"
                        class="delete-button"
                        (click)="onRemoveFile(file)"
                    >
                        <img src="../../../../../assets/images/icons/deleteIcon.svg" alt="Delete">
                    </button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<data-sources-file-details 
    [(file)]="fileSelectedToDetails"
    (fileChange)="onShowDetails($event)"
/>