.file-uploaded-container {
    gap: .5rem;

    img {
        width: 1.5rem;
        height: 2rem;

        &.pending {
            filter: brightness(0) saturate(100%) invert(98%) sepia(3%) saturate(955%) hue-rotate(201deg) brightness(119%) contrast(77%);
        }
    }

    .name-status-container {

        .file-name {
            color: #454545;
            font-size: .75rem;
            font-weight: 400;
        }

        .file-status {
            color: #707070;
            font-size: .5625rem;
            font-weight: 400;

            &.completed {
                color: #28AF28;
            }

            &.incompleted {
                color: #AD0808;
            }
        }
    }
}

.status-container {
    padding: 0 .5rem;
    gap: .25rem;

    .status-text {
        color: #707070;
        font-size: .5625rem;
        font-weight: 400;
        text-align: center;
        text-wrap: nowrap;
        padding: 0 2rem;

        @media screen and (max-width: 900px) {
            padding: 0 .5rem;
        }
    }

    .status-line {
        height: 2px;
        background: #E2E2E2;

        .progress {
            height: 100%;
            width: 100%;

            &.loading {
                background-color: #F28C02;
                animation-name: progress;
                animation-duration: 2s;
            }

            &.completed {
                background-color: #28AF28;
            }
    
            &.incompleted {
                background-color: #AD0808;
            }
    
            @keyframes progress {
                0% {
                    clip-path: inset(0 100% 0 0);
                }
    
                100% {
                    clip-path: inset(0 0 0 0);
                }
            }
        }
    }
}

.delete-button, .details-button {
    &:disabled {
        cursor: default;

        img {
            filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(4023%) hue-rotate(301deg) brightness(115%) contrast(77%);
        }
    }
}