<main class="page-container">
    <shared-title-filter
        [title]="'Roles'"
        [showForm]="showForm"
        [showFormPermission]="rolePermissions.consult"
        [buttonRedirectLabel]="'Crear rol'"
        [buttonRedirectRoute]="'/administration/roles/role-creation'"
        [buttonRedirectPermission]="rolePermissions.create"
        [showFilters]="formIsDirty"
        (hideFilters)="showForm = !showForm"
    />

    <div *ngIf="showForm" [@slideInOut] [checkPermissionToRender]="rolePermissions.consult" class="form-card">
        <h4 class="form-card-title">Consultar roles</h4>
        <role-search-roles-form [searchRolesForm]="searchRolesForm" />
        <div class="form-card-buttons-container flex flex-row flex-jc-flex-end">
            <p-button 
                id="cancel-button" 
                styleClass="tertiary-button" 
                type="button" 
                label="Limpiar campos"
                [disabled]="searchRolesForm.invalid || !checkValuesForm()" 
                (onClick)="clearSearchRolesForm()" 
            />
            <div pTooltip [tooltipOptions]="tooltipOptions" [tooltipDisabled]="!(searchRolesForm.invalid || !checkValuesForm())">
                <p-button 
                    id="submit-button" 
                    styleClass="submit-button" 
                    type="submit" 
                    label="Consultar"
                    [disabled]="searchRolesForm.invalid || !checkValuesForm()" 
                    [loading]="isLoading"
                    (onClick)="onSearchRoles()"
                />
            </div>
        </div>
    </div>

    <div #roleTable *ngIf="formIsDirty" [style.display]="isLoading && roles.length === 0 ? 'none' : ''" [@slideInOut] [checkPermissionToRender]="rolePermissions.consult" class="form-card">
        <shared-datagrid-layout 
            [isEmpty]="!roles.length && !isLoading"
            [totalResults]="totalRoles"
            [perPage]="searchRolesForm.value.perPage"
            (changePerPage)="changePerPage($event)"
        >
            <role-datagrid-roles
                [roles]="roles" 
                [totalRoles]="totalRoles" 
                [perPage]="searchRolesForm.value.perPage"
                [currentPage]="searchRolesForm.value.page"
                (pageChange)="onPageChange($event)"
            />
        </shared-datagrid-layout>
    </div>
</main>