<shared-modal 
    *ngIf="!spinnerService.showSpinner"
    [(visible)]="modalVisible"
    (visibleChange)="onVisibleChange($event)"
>
    <ng-container template="content">
        <h3 class="page-title page-title--border-bottom">Editar usuario</h3>
        <form [formGroup]="form">
            <div class="form-card form-card--no-margin-bottom">
                <h4 class="form-card-title">Datos personales</h4>
                <user-personal-information-form 
                    [personalInformationForm]="personalInformationForm"
                    [isEdit]="true"
                />
            </div>
        </form>
    </ng-container>
    <ng-container template="footer">
        <div class="buttons-container flex flex-row-reverse">
            <p-button
                id="submit-button"
                styleClass="submit-button"
                type="submit" 
                label="Guardar"
                (onClick)="onEditUser()"
                [disabled]="!form.valid"
            />
            <p-button
                id="cancel-button"
                styleClass="secondary-button"
                type="button" 
                label="Cancelar"
                (onClick)="onCancel()"
            />
        </div>
    </ng-container>
</shared-modal>