.form-title {
    font-weight: 700;
    color: #000000;
    font-size: .875rem;
    margin-bottom: .75em;
}

.form {
    .submit-button-container {
        margin-top: 2em;
    }

    .error-message {
        margin-top: 2em;
        display: block;
    }

    .checkbox-container {
        margin-top: 2em;

        .label-checkbox-keep-logged-in {
            font-size: .75rem;
            font-weight: 400;
            margin-left: .625em;
        }
    }
}

.forgot-password-text {
    color: #707070;
    font-size: .75rem;
    font-weight: 400;
    text-align: center;
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px solid rgba(212, 212, 212, .2);

    @media screen and (max-width: 900px) {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1em;
    }

    .forgot-password-anchor {
        font-size: .75rem;
        color: rgba(var(--principal-color), 1);
        font-weight: 700;
        text-decoration: none;

        &:hover {
            color: rgba(var(--secondary-color), 1);
        }
    }
}