<ng-container>
    <h2 class="form-title">Ingrese sus datos para iniciar sesión</h2>
    <form class="form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="flex flex-column">
            <label class="input-label" for="email">Correo electrónico</label>
            <input pInputText validInputErrors id="email" type="text" name="email" formControlName="email"
                maxlength="40" autocomplete="email" />
        </div>
        <div class="flex flex-column">
            <label class="input-label" for="password">Digite su contraseña</label>
            <span class="input-password-show-hide">
                <button id="show-password-button" class="show-password-button" type="button"
                    [disabled]="enabledShowPasswordButton()" (click)="togglePasswordVisibility()">
                    Ver
                </button>
                <input pInputText validInputErrors class="input-password-switch" id="password"
                    [type]="hidePassword ? 'text' : 'password'" name="password" formControlName="password" />
            </span>
        </div>
        <div class="flex flex-row flex-ai-center checkbox-container">
            <p-checkbox class="checkbox" [binary]="true" formControlName="keepLoggedIn" inputId="keepLoggedIn"
                inputId="keepLoggedIn" />
            <label class="label-checkbox-keep-logged-in" for="keepLoggedIn">Mantener sesión iniciada</label>
        </div>
        <shared-info-message *ngIf="infoMessage.message" [message]="infoMessage.message" [type]="infoMessage.type"
            (onCloseMessage)="onCloseInfoMessage()" class="error-message" />
        <div class="submit-button-container">
            <p-button id="submit-button" styleClass="submit-button w-100" type="submit" label="Ingresar"
                [loading]="isLoading" [disabled]="!loginForm.valid" />
        </div>
    </form>
    <p class="forgot-password-text">
        ¿Olvidó su contraseña?
        <a id="anchor-recovery-password" class="forgot-password-anchor" routerLink="recovery-password">Recupérala AQUÍ</a>
    </p>
</ng-container>
