<div class="sidebar-container flex flex-column flex-jc-space-between">
    <div class="header-body-container">
        <div class="header flex flex-ai-center flex-jc-center">
            <img class="image" src="../../../../../assets/images/mayoralArmsCoatWhite.svg" alt="Alcaldía de Medellín">
        </div>
        <div class="body">
            <dashboard-accordion-menu [options]="options" />
        </div>
    </div>
    <div class="footer">
        <shared-version-app />
    </div>
</div>
