.sidebar-container {
    width: 17.5rem;
    height: 100%;
    background: #FFFFFF;
    border-right: .5px solid rgba(212, 212, 212, .2);
    
    .header-body-container {
        .header {
            padding: 1em 1em 1.5em 1em;
            background: rgba(var(--principal-color), 1);
    
            .image {
                width: 152px;
                height: 107px;
            }
        }

        .body {
            padding-top: 2.5em;
        }
    }

    .footer {
        padding-bottom: 2em;
    }
}