.container {
    margin-top: 1em;
}

.time-selector {
    width: 100%;
    padding: .75em;
    color: #000000;
    font-size: .75rem;
    font-weight: 400;
    border: .5px solid #E2E2E2;
    border-radius: 6px;
    background: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;

    &:hover {
        border-color: rgba(var(--principal-color), 1);
    }

    .calendar-image {
        width: .875rem;
        height: 1rem;
    }
}

.loading-period-modal {
    display: block;
    position: absolute;
}