<form class="container form-grids-container" [formGroup]="generateReportForm">
    <div class="form-grid-2">
        <div class="form-input-container flex-jc-flex-end">
            <span class="input-label-form">
                Informes del sistema
            </span>
            <p-dropdown inputId="systemReport" id="systemReport" validInputWithoutMessage formControlName="systemReport" [options]="systemReports | sortArray:'id'"
                optionLabel="name" optionValue="name" placeholder="Seleccionar" />
        </div>
        <div class="form-input-container flex-jc-flex-end">
            <span class="input-label-form">
                Mes y año
            </span>
            <button 
                class="time-selector flex flex-row flex-ai-center flex-jc-space-between"
                (click)="onShowLoadingPeriodModal()"
            >
                <span>{{ buttonTimeLabel }}</span>
                <img 
                    class="calendar-image"
                    src="../../../../../assets/images/icons/calendarIcon.svg" 
                    alt="Cambio de fecha"
                >
            </button>
            
            <reports-loading-period-modal
                class="loading-period-modal"
                [(visible)]="showLoadingPeriodModal"
                [generatedTimeFormControl]="generateReportForm.get('generatedTime')!"
                [yearList]="yearList"
                [monthList]="monthList"
            />
        </div>
    </div>
</form>