.form-title {
  font-weight: 700;
  color: #000000;
  font-size: 0.875rem;
  margin-bottom: 0.75em;
  text-align: center;
}
.form-sub-title {
  font-size: 12px !important;
  color: #a5a5a5;
  margin-bottom: 0.75em;
  text-align: center;
}

.form {
  .submit-button-container {
    gap: 20px;
    margin-top: 2em;
  }

  .error-message {
    margin-top: 2em;
    display: block;
  }

  .checkbox-container {
    margin-top: 2em;

    .label-checkbox-keep-logged-in {
      font-size: 0.75rem;
      font-weight: 400;
      margin-left: 0.625em;
    }
  }
}

.forgot-password-text {
  color: #707070;
  font-size: 0.75rem;
  font-weight: 400;
  text-align: center;
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid rgba(212, 212, 212, 0.2);

  @media screen and (max-width: 900px) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
  }

  .forgot-password-anchor {
    font-size: 0.75rem;
    color: rgba(var(--principal-color), 1);
    font-weight: 700;
    text-decoration: none;

    &:hover {
      color: rgba(var(--secondary-color), 1);
    }
  }
}

.container {
  max-width: 500px;
  margin: 0 4.875em;

  @media screen and (max-width: 900px) {
    margin: 0 1em;
  }

  .title {
    margin-top: 1em;
    font-weight: 600;
    color: #000000;
    font-size: 1.375rem;
    text-align: center;
  }

  .description {
    margin: 2em 0 3em 0;
    font-weight: 400;
    color: #000000;
    font-size: 1rem;
    text-align: center;
    line-height: 1.25rem;
    font-family: var(--secondary-font);
  }

  .form {
    margin-bottom: 2em;
    margin-top: 2em;
    .submit-button {
        margin: 0 !important;
    }
  }
}

.buttons-container {
  gap: 1em;
  padding: 0 4.3125em;

  @media screen and (max-width: 900px) {
    padding: 0;
  }
}
