<ng-container>
    <h2 class="form-title">Recuperar contraseña</h2> <br>
    <span class="form-sub-title">Por favor ingrese la siguiente información para recuperar su contraseña</span>
    <form class="form" [formGroup]="resetPasswordForm" (ngSubmit)="onRecoveryPassword()">
        <div class="flex flex-column">
            <label class="input-label" for="password">Documento de identidad</label>
            <span class="input-password-show-hide">
                <input pInputText class="input-password-switch" id="document_number" maxlength="20"
                    formControlName="document_number" />
            </span>
        </div>
        <div class="flex flex-column">
            <label class="input-label" for="email">Correo electrónico</label>
            <input pInputText validInputErrors id="email" type="text" name="email" formControlName="email"
                maxlength="40" />
        </div>
        <shared-info-message *ngIf="infoMessage.message" [message]="infoMessage.message" [type]="infoMessage.type"
            (onCloseMessage)="onCloseInfoMessage()" class="error-message" />
        <div class="submit-button-container flex flex-jc-center">
            <p-button id="submit-button" styleClass="submit-button w-100" type="submit" label="Cancelar"
                routerLink="/" />
            <p-button id="submit-button" styleClass="submit-button w-100" type="submit" (click)="onRecoveryPassword()"
                label="Recuperar" [loading]="isLoading" [disabled]="resetPasswordForm.invalid" />
        </div>
    </form>
</ng-container>

<shared-modal [visible]="visible">
    <ng-container template="content">
        <div class="container flex flex-column flex-jc-center">
            <h6 class="title">Restablecer contraseña</h6>
            <form class="form form-grids-container" [formGroup]="changePasswordFormUser">
                <div class="form-grid-2">
                    <div class="form-input-container">
                        <div class="form-input-container">
                            <label class="input-label-form" for="password-change-password-form">
                                Contraseña
                            </label>
                            <span class="input-password-show-hide">
                                <button id="show-password-button" class="show-password-button"
                                    [disabled]="enabledShowPasswordButton('password')"
                                    (click)="togglePasswordVisibility('password')" type="button">Ver</button>
                                <input pInputText class="input-password-switch" id="password-change-password-form"
                                    [type]="hidePassword ? 'text' : 'password'" formControlName="password"
                                    name="password" />
                            </span>
                            <shared-input-password-conditions [conditions]="passwordConditions" />
                        </div>
                    </div>
                    <div class="form-input-container">
                        <div class="form-input-container">
                            <label class="input-label-form" for="password-confirmation-change-password-form">
                                Confirme su contraseña
                            </label>
                            <span class="input-password-show-hide">
                                <button id="show-password-confirmation-button" class="show-password-button"
                                    [disabled]="enabledShowPasswordButton('confirm_password')"
                                    (click)="togglePasswordVisibility('confirm_password')" type="button">
                                    Ver
                                </button>
                                <input pInputText class="input-password-switch"
                                    [type]="hidePasswordConfirmation ? 'text' : 'password'"
                                    id="password-confirmation-change-password-form" formControlName="confirm_password"
                                    name="confirm_password" />
                            </span>
                            <shared-input-password-conditions [conditions]="passwordConfirmationConditions" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </ng-container>
    <ng-container template="footer">
        <div class="buttons-container flex flex-row-reverse">
            <p-button id="submit-button" styleClass="submit-button" type="submit" label="Restablecer"
                (click)="onChangePassword()" [loading]="isLoading" [disabled]="changePasswordFormUser.invalid" />
            <p-button id="cancel-button" styleClass="secondary-button" type="button" label="Cancelar" (click)="onCancelChangePassword()"
                 [disabled]="isLoading" />
        </div>
    </ng-container>
</shared-modal>