<div 
    DropZone
    class="dropzone flex flex-column flex-ai-center flex-jc-center h-100"
    (onFileDropped)="droppedFiles($event)"
    (click)="triggerFileInput()"
>
    <div class="upload-container flex flex-column flex-ai-center">
        <img class="upload-image" src="../../../../assets/images/icons/fileUploadIcon.svg" alt="Upload file">
        <p class="upload-title">Arrastre y suelte aquí su archivo o haga click para <a>examinar</a></p>
        <input type="file" #fileInput hidden [accept]="accept" [multiple]="multiple" (change)="importFiles($event)">
        
        <div class="verifications-container">
            <div class="verifications-contente">
                <p class="verifications-list-title">Verifique:</p>
                <ul class="verifications-list">
                    <li class="flex flex-ai-center"><span>Formato del archivo: {{ accept | joinArrayBy: ', ' | uppercase | replaceCharacter: '.' : '' }}</span></li>
                    <li class="flex flex-ai-center"><span>Nombre del archivo: Nombre archivo_DDMMAAAA</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
