.dropzone {
    border: 2px dashed rgba(var(--principal-color), 1);
    border-radius: 5px;
    padding: 2.5em 4.625em;
    position: relative;
    cursor: pointer;

    @media screen and (max-width: 900px) {
        padding: 2.5em;
    }
    
    &.dragover {
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(var(--principal-color), .2);
        }
    }

    .upload-container {
        gap: 1rem;

        .upload-image {
            width: 1.5rem;
            height: 2rem;
        }

        .upload-title {
            font-size: .75rem;
            font-weight: 500;
            color: rgba(var(--principal-color), 1);
            text-align: center;

            a {
                font-weight: 700;
                text-decoration: underline;
            }
        }

        .verifications-container {
            border-top: 1px solid #DEDEDF;
            margin: 0 1em 1em 1em;
    
            .verifications-contente {
                padding: 1em;
                margin-top: 1em;
                background: rgba(var(--principal-color), .08);
                border-radius: 8px;
    
                .verifications-list-title {
                    font-size: .75rem;
                    font-weight: 700;
                    color: rgba(var(--principal-color), 1);
                    text-align: center;
                }
    
                ul.verifications-list {
                    padding: 0;
                    margin: .75em 0 0 0;
                    list-style: none;
    
                    li {
                        font-size: .75rem;
                        font-weight: 400;
                        color: #454545;
                        gap: .5rem;
    
                        &:before {
                            content: "\2022";
                            color: rgba(var(--principal-color), 1);
                            display: block;
                            height: 100%;
                            font-weight: bold;
                            font-size: 1.75em;
                            line-height: 1rem;
                        }
                    }
                }
            }
        }
    }
}