<form class="container form-grids-container" [formGroup]="searchUsersForm">
    <div class="form-grid-4">
        <div class="form-input-container">
            <label class="input-label-form" for="identificationNumberSearchUser">
                Documento de identidad
            </label>
            <div class="identification-input">
                <p-dropdown id="identificationTypeSearchUser" inputId="identificationTypeSearchUser" validInputWithoutMessage
                    formControlName="identificationType" [options]="identificationTypes | sortArray:'id'"
                    optionLabel="alias" placeholder="Seleccionar">
                    <ng-template let-identificationType pTemplate="item">
                        <span>{{ identificationType.alias }} - {{ identificationType.name }}</span>
                    </ng-template>
                </p-dropdown>
                <span class="input-mask">
                    <p class="text-input-mask">No.</p>
                    <input #identificationNumber pInputText validInputWithoutMessage id="identificationNumberSearchUser"
                        [type]="isPassport ? 'text' : 'number'" name="identificationNumber"
                        formControlName="identificationNumber" maxlength="30"
                        oninput="this.value = this.value.slice(0, 30);" />
                </span>
            </div>
        </div>
        <div class="form-input-container">
            <label class="input-label-form" for="nameSearchUser">
                Nombre
            </label>
            <input pInputText validInputWithoutMessage id="nameSearchUser" type="text" name="name"
                formControlName="name" maxlength="30" autocomplete="off" />
        </div>
        <div class="form-input-container">
            <label class="input-label-form" for="surnamesSearchUser">
                Apellidos
            </label>
            <input pInputText validInputWithoutMessage id="surnamesSearchUser" type="text" name="surnames"
                formControlName="surnames" maxlength="30" />
        </div>
        <div class="form-input-container">
            <label class="input-label-form" for="emailSearchUser">
                Correo electrónico
            </label>
            <input pInputText validInputWithoutMessage id="emailSearchUser" type="text" name="email"
                formControlName="email" maxlength="40" autocomplete="off" />
        </div>
    </div>
</form>