.container {
    max-width: 500px;
    margin: 0 4.875em;

    @media screen and (max-width: 900px) {
        margin: 0 1em;
        max-width: 100%;
    }

    .title {
        margin-top: 1em;
        font-weight: 600;
        color: #000000;
        font-size: 1.375rem;
        text-align: center;
    }

    .description {
        margin: 2em 0 3em 0;
        font-weight: 400;
        color: #000000;
        font-size: 1rem;
        text-align: center;
        line-height: 1.25rem;
        font-family: var(--secondary-font);
    }

    .form {
        margin-bottom: 2em;
    }
}

.buttons-container {
    gap: 1em;
    padding: 0 4.3125em;

    @media screen and (max-width: 900px) {
        padding: 0;
    }
}