<shared-modal [(visible)]="visible" (visibleChange)="onVisibleChange($event)">
    <ng-container template="content">
        <div class="container flex flex-column flex-jc-center">
            <h6 class="title">Cambiar contraseña</h6>
            <p class="description">Ahora podrás cambiar tu contraseña. Por favor ingresa los siguientes campos y ten en cuenta las
                indicaciones para generar una nueva contraseña de acceso.</p>
            <form class="form form-grids-container" [formGroup]="changePasswordForm">
                <div class="form-grid-1">
                    <div class="form-input-container">
                        <div class="form-input-container">
                            <label class="input-label-form" for="current-password-change-password-form">
                                Ingrese su contraseña actual -
                                <span class="input-label-form--required">Obligatorio</span>
                            </label>
                            <span class="input-password-show-hide">
                                <button 
                                    id="show-current-password-button"
                                    class="show-password-button"
                                    type="button"
                                    [disabled]="enabledShowPasswordButton('currentPassword')"
                                    (click)="togglePasswordVisibility('currentPassword')"
                                >
                                    Ver
                                </button>
                                <input 
                                    pInputText 
                                    validInputWithoutMessage
                                    class="input-password-switch" 
                                    id="current-password-change-password-form" [type]="hideCurrentPassword ? 'text' : 'password'"
                                    name="currentPassword"
                                    formControlName="currentPassword"
                                />
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-grid-2">
                    <div class="form-input-container">
                        <div class="form-input-container">
                            <label class="input-label-form" for="password-change-password-form">
                                Contraseña
                            </label>
                            <span class="input-password-show-hide">
                                <button 
                                    id="show-password-button"
                                    class="show-password-button"
                                    type="button"
                                    [disabled]="enabledShowPasswordButton('password')"
                                    (click)="togglePasswordVisibility('password')"
                                >
                                    Ver
                                </button>
                                <input 
                                    pInputText 
                                    validInputWithoutMessage
                                    class="input-password-switch" 
                                    id="password-change-password-form" [type]="hidePassword ? 'text' : 'password'"
                                    name="password"
                                    formControlName="password"
                                />
                            </span>
                            <shared-input-password-conditions [conditions]="passwordConditions" />
                        </div>
                    </div>
                    <div class="form-input-container">
                        <div class="form-input-container">
                            <label class="input-label-form" for="password-confirmation-change-password-form">
                                Confirme su contraseña
                            </label>
                            <span class="input-password-show-hide">
                                <button 
                                    id="show-password-confirmation-button"
                                    class="show-password-button"
                                    type="button"
                                    [disabled]="enabledShowPasswordButton('passwordConfirmation')"
                                    (click)="togglePasswordVisibility('passwordConfirmation')"
                                >
                                    Ver
                                </button>
                                <input 
                                    pInputText 
                                    validInputWithoutMessage 
                                    class="input-password-switch" 
                                    id="password-confirmation-change-password-form" [type]="hidePasswordConfirmation ? 'text' : 'password'"
                                    name="passwordConfirmation"
                                    formControlName="passwordConfirmation"
                                />
                            </span>
                            <shared-input-password-conditions [conditions]="passwordConfirmationConditions" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </ng-container>
    <ng-container template="footer">
        <div class="buttons-container flex flex-row-reverse">
            <p-button
                id="submit-button"
                styleClass="submit-button"
                type="submit" 
                label="Cambiar contraseña"
                [loading]="isLoading"
                (onClick)="onChangePassword()"
                [disabled]="!changePasswordForm.valid"
            />
            <p-button
                id="cancel-button"
                styleClass="secondary-button"
                type="button" 
                label="Cancelar"
                (onClick)="onVisibleChange(false)"
                [disabled]="isLoading"
            />
        </div>
    </ng-container>
</shared-modal>