::ng-deep {
    .configure-notifications-datagrid-notifications-edit-button {
        .p-tooltip-arrow {
            left: 65%;
            border-top-color: #C5C5C5;
        }
    }

    .notifications-datagrid {
        .p-datatable {
            display: grid;
        }
    }

    .p-dialog-mask .notification-period-modal.p-dialog {
        @media screen and (max-width: 900px) {
            width: fit-content !important;
        }
    }
}

.notification-edit-button-container {
    padding: 0 4em;

    .notification-edit-button {
        border: none;
        cursor: pointer;
        padding: .375em;
        background: rgba(var(--principal-color), .15);
        border-radius: 5px;
        position: relative;

        &:hover {
            background: rgba(var(--secondary-color), .15);

            img {
                filter: var(--filter-secondary-color);
            }
        }

        img {
            width: 1rem;
            height: 1rem;
        }
    }
}
