<p-table [value]="notifications | sortArray:'id'" [scrollable]="true" scrollHeight="370px" class="notifications-datagrid">
    <ng-template pTemplate="header">
        <tr>
            <th id="notification-data-source" class="cell-align-center">Fuente de datos</th>
            <th id="notification-frecuency" class="cell-align-center">Frecuencia de notificaciones</th>
            <th id="notification-time" class="cell-align-center w-0">Hora de la notificación</th>
            <th id="notification-state" class="cell-align-center w-0" alignFrozen="right" pFrozenColumn>Estado</th>
            <th id="notification-edit" class="cell-align-center w-0" alignFrozen="right" pFrozenColumn>Editar</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-notification>
        <tr>
            <td class="white-space-nowrap">{{ notification.name }}</td>
            <td class="white-space-nowrap">{{ getDataSourceTimeInString(notification.frecuency, notification.notificationTime) }}</td>
            <td class="cell-align-center w-0">{{ notification.notificationTime.time | dateToTimeString }}</td>
            <td class="cell-align-center w-0" alignFrozen="right" pFrozenColumn>
                <div class="switch-table-container">
                    <div class="switch-container">
                        <span class="switch-label">{{ notification.isActive | booleanToString:['Activo', 'Inactivo']
                            }}</span>
                        <p-inputSwitch inputId="switch-{{ notification.id }}" [ngModel]="notification.isActive"
                            [readonly]="true"
                            (click)="onSwitchClick(notification.isActive, notification.id, notification.name)" />
                    </div>
                </div>
            </td>
            <td class="cell-align-center w-0" alignFrozen="right" pFrozenColumn>
                <div class="notification-edit-button-container flex flex-jc-center">
                    <button 
                        id="toggle-modal-calendar" 
                        class="notification-edit-button flex"
                        pTooltip
                        [tooltipOptions]="tooltipOptionsEditButton"
                        (click)="toggleModal(notification)"
                    >
                        <img src="../../../../../assets/images/icons/featherEditIcon.svg" alt="Editar notificación">
                    </button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<shared-modal
    [(visible)]="modalVisible"
    (visibleChange)="onVisibleChange($event)"
    [showFooter]="false"
    [closable]="false"
    customClass="notification-period-modal"
>
    <ng-container template="content">
        <configure-notifications-edit-loading-period-notification 
            [configurationLoadingPeriodNotificationForm]="configurationLoadingPeriodNotificationForm"
            [notificationSelected]="notificationSelected"
            (editLoadingPeriodNotification)="onEditLoadingPeriodNotification()"
            (cancelLoadingPeriodNotification)="onCancelLoadingPeriodNotification()"
        />
    </ng-container>
</shared-modal>