<main class="position-fixed flex flex-row h-100 w-100">
    <div class="image-container"></div>
    <div class="flex flex-ai-center form-login-container">
        <div class="container flex flex-ai-center flex-column flex-jc-space-between">
            <div class="header-form-container w-100">
                <div class="header-container flex flex-column flex-ai-center">
                    <img class="image" src="../../../../../assets/images/mayoralArmsCoat.svg" alt="Alcaldía de Medellín">
                    <h1 class="title">Secretaría de Educación</h1>
                </div>
                <div class="form-container">
                    <router-outlet />
                </div>
            </div>
            <div class="footer">
                <div class="version-container flex flex-column flex-ai-center">
                    <p class="version-text">
                        <span class="version-text-strong">Powered by </span>{{ poweredBy }}
                    </p>
                    <p class="version-highlighted-text">Versión {{ appVersion }}</p>
                </div>
            </div>
        </div>
    </div>
</main>