.image-container {
    background-image: url("../../../../../assets/images/backgroundImage.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    flex: 1 1 55%;
}

.form-login-container {
    flex: 1 1 45%;

    @media screen and (max-width: 900px) {
        position: absolute;
        width: 100%;
        height: 100%;
        height: -moz-available;
        height: -webkit-fill-available;
    }

    .container {
        width: 100%;
        max-height: 850px;
        height: 100%;
        background: #FFFFFF;
        overflow-y: auto;

        @media screen and (max-width: 900px) {
            max-height: 100%;
            background: rgba(255, 255, 255, 0.8);
            padding: 12% 5% 1em 5%;
            max-width: 100%;
        }

        .header-form-container {
            max-width: 320px;
            padding: 2em 0.5em;

            @media screen and (max-width: 900px) {
                background: #FFFFFF;
                padding: 2em 2.5em;
                border-radius: 18px;
                box-shadow: 0px 3px 10px #0000001A;
                max-width: 100%;
            }

            .header-container {
                margin-bottom: 2.375em;

                .image {
                    margin-bottom: 1.125em;
                    max-width: 164px;
                    width: 164px;
                    height: 115px;
                }

                .title {
                    font-weight: 400;
                    color: rgba(var(--principal-color), 1);
                    font-size: 1.125rem;
                }
            }

            .form-container {
                border-top: 1px solid rgba(212, 212, 212, .2);
                padding: 2em 0 0em 0;
            }
        }

        .footer {

            @media screen and (max-width: 900px) {
                margin-top: 1em;
            }

            .version-container {
                font-family: var(--secondary-font);

                .version-text {
                    font-weight: 300;
                    color: #000000;
                    font-size: .6875rem;

                    @media screen and (max-width: 900px) {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                    }

                    .version-text-strong {
                        font-weight: 400;
                    }
                }

                .version-highlighted-text {
                    font-weight: 400;
                    color: rgba(var(--principal-color), 1);
                    font-size: .6875rem;
                }
            }
        }
    }
}