<main class="page-container">
    <h3 class="page-title flex flex-ai-flex-end flex-jc-space-between">
        Carga de datos {{ dataSourceId }}
        <button 
            id="configure-loading-period-button" 
            class="configure-loading-period-button flex flex-row flex-ai-center"
            (click)="showHideConfiguration()"
        >
            <span>Configurar período de carga</span>
            <div class="image-container">
                <img src="../../../../../assets/images/icons/configurationInco.svg" alt="Configurar periodo">
            </div>
        </button>
    </h3>
    
    <shared-info-message *ngIf="infoMessage.message" [message]="infoMessage.message" [type]="infoMessage.type"
        (onCloseMessage)="onCloseInfoMessage()" class="warning-message" [@slideInOut] />

    <div>
        <div *ngIf="hideConfiguration" class="form-card" [@slideInOut]>
            <h4 class="form-card-title flex flex-jc-space-between flex-ai-center">
                <span>Período de carga</span>
                <button
                    id="close-configure-loading-period-button" 
                    class="loading-period-button-close"
                    (click)="showHideConfiguration()"
                >
                    <img 
                        src="../../../../../assets/images/icons/closeIconSidebar.svg" 
                        alt="Cerrar periodos de carga"
                    >
                </button>
            </h4>
            <data-sources-loading-period 
                [dataSource]="dataSourceId"
                [eachTime]="eachTimeDataLoading"
                [time]="timeDataLoading"
                [weekDays]="weekDaysDataLoading"
                [monthDays]="monthDaysDataLoading"
                [yearMonths]="yearMonthsDataLoading"
                [yearDays]="yearDaysDataLoading"
                [configurationForm]="configurationForm"
                (editLoadingPeriod)="onEditLoadingPeriod()"
                (cancelLoadingPeriod)="onCancelLoadingPeriod($event)"
            />
        </div>
        
        <div class="form-card">
            <h4 class="form-card-title">Subir archivos</h4>
            <h5 class="annexes-title">Anexos</h5>
            <div class="form-grids-container">
                <div class="form-grid-2">
                    <div class="form-input-container">
                        <shared-upload-files
                            class="h-100"
                            [accept]="extensionsToAccept"
                            [multiple]="false"
                            [maxMBFileSize]="300"
                            (files)="onGetFiles($event)"
                        />
                    </div>
                    <div class="datagrid-container">
                        <data-sources-datagrid-files 
                            [files]="files"
                            (removeFile)="onRemoveFile($event)"
                        />
                    </div>
                </div>
            </div>
        </div>
        
        <div class="buttons-fixed-container flex flex-row-reverse">
            <div pTooltip [tooltipOptions]="tooltipOptions" [tooltipDisabled]="!(files | checkValidationFiles)">
                <p-button
                    id="load-button"
                    styleClass="submit-button"
                    type="submit" 
                    label="Cargar"
                    [loading]="isLoading"
                    [disabled]="files | checkValidationFiles"
                    (onClick)="onLoadFiles()"
                />
            </div>
            <p-button
                id="cancel-button"
                styleClass="secondary-button"
                type="button" 
                label="Cancelar"
                (onClick)="onCancel()"
                [disabled]="isLoading || !(files | checkValidationSomeFile)"
            />
        </div>
    </div>
    
    <div *ngIf="isScreenSmall" class="version-container">
        <shared-version-app />
    </div>
</main>