::ng-deep .data-loading-load-button {
    .p-tooltip-arrow {
        left: 80%;
        border-top-color: #C5C5C5;
    }
}

.warning-message {
    margin-top: 1em;
    display: block;
}

.annexes-title {
    font-weight: 500;
    font-size: .75rem;
    color: #6D6D6D;
    margin: .75em 0 0.5em 0;
    padding: 0;
}

.configure-loading-period-button {
    border: none;
    background: none;
    gap: .5rem;
    cursor: pointer;
    font-size: .75rem;
    font-weight: 500;
    color: rgba(var(--principal-color), 1);

    &:hover {
        color: rgba(var(--secondary-color), 1);

        .image-container {
            background: rgba(var(--secondary-color), 1);
        }
    }

    .image-container {
        padding: .3rem;
        background: rgba(var(--principal-color), 1);
        border-radius: 100%;
        display: flex;

        img {
            width: .75rem;
            height: .75rem;
        }
    }
}

.loading-period-button-close {
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;

    &:hover {
        img {
            filter: var(--filter-secondary-color);
        }
    }

    img {
        filter: brightness(0) saturate(100%) invert(80%) sepia(0%) saturate(62%) hue-rotate(228deg) brightness(89%) contrast(83%);
        width: .625rem;
        height: .6875rem;
    }
}

.datagrid-container {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

.version-container {
    margin-top: 3.75em;
}