.container {
    .details-title {
        color: #1E1E1E;
        font-weight: 600;
        font-size: 0.875rem;
        border-bottom: 1px solid #D4D4D5;
        padding-bottom: 0.5em;
    }
    .user-details-container {
        gap: 1rem;

        @media screen and (max-width: 900px) {
            flex-direction: column;
            gap: 0;

            .dashed-divider {
                display: none;
            }

            .labels-container, .values-container {
                p, .validation-container {
                    min-width: auto !important;
                }
                
                .validation-container {
                    padding-left: 1em !important;
                }
            }
        }

        .user-details {
            border-spacing: 1rem 0;
            max-width: 50%;
            width: 100%;
            height: fit-content;

            @media screen and (max-width: 900px) {
                max-width: 100%;
            }

            thead {
                display: none;
            }

            .labels-container {
                vertical-align: top;
                border-bottom: 1px solid #D4D4D5;
                height: 100%;

                .validation-container {
                    padding-bottom: .6875em;
                    margin-top: 1rem;
                    min-width: 14.5rem;
                    color: #1E1E1E;
                    font-size: .75rem;
                    font-weight: 700;
                    white-space: nowrap;
                    gap: .5rem;
                    padding-left: 4.1em;

                    img.valid {
                        width: .6875rem;
                        height: .5rem;
                    }

                    img.no-valid {
                        width: .5rem;
                        height: .5rem;
                    }
                }

                p {
                    color: #1E1E1E;
                    font-size: .75rem;
                    padding-bottom: .6875em;
                    font-weight: 700;
                    margin-top: 1rem;
                    text-align: end;
                    min-width: 14.5rem;
                    white-space: nowrap;
                }
            }

            .values-container {
                width: 100%;
                vertical-align: top;
                border-bottom: 1px solid #D4D4D5;
                height: 100%;

                p {
                    color: #1E1E1E;
                    font-size: .75rem;
                    padding-bottom: .6875em;
                    font-weight: 400;
                    margin-top: 1rem;
                    min-width: 14.5rem;
                    white-space: pre-line;
                }
            }
        }

        .dashed-divider {
            background-image: linear-gradient(black 15%, rgba(255, 255, 255, 0) 0%);
            background-position: right;
            background-size: 2px 10px;
            background-repeat: repeat-y;
            width: 2px;
            min-width: 2px;
            margin-top: 1rem;
        }
    }
}
