<shared-modal 
    *ngIf="!spinnerService.showSpinner"
    [(visible)]="modalVisible"
    (visibleChange)="onVisibleChange($event)"
>
    <ng-container template="content">
        <div class="container">
            <h5 id="title" class="details-title">{{ modalTitle }}</h5>
            <div class="user-details-container flex flex-row">
                <ng-container *ngFor="let deltailContainer of informationDetails | flatmapArray: isScreenSmall; let last = last">
                    <table aria-describedby="title" class="user-details">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let detail of deltailContainer">
                                <td class="labels-container">
                                    <ng-container *ngIf="useValidationIcons; else paragraphDetail">
                                        <span class="validation-container flex flex-row flex-ai-center">
                                            <img *ngIf="detail.valid; else noValid" class="valid" src="../../../../assets/images/icons/validatedIcon.svg" alt="Valid">
                                            <ng-template #noValid>
                                                <img class="no-valid" src="../../../../assets/images/icons/noValidatedIcon.svg" alt="No valid">
                                            </ng-template>
                                            {{ detail.label }}:
                                        </span>
                                    </ng-container>
                                    <ng-template #paragraphDetail>
                                        <p #paragraphDetail>{{ detail.label }}:</p>
                                    </ng-template>
                                </td>
                                <td class="values-container">
                                    <p *ngIf="!detail.iterableValue; else arraySpan">{{ detail.value || '&nbsp;' }}</p>
                                    <ng-template #arraySpan>
                                        <span>
                                            <p *ngFor="let subValue of detail.iterableValue" class="user-detail-text">{{ subValue }}</p>
                                        </span>
                                    </ng-template>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="!last" class="dashed-divider"></div>
                </ng-container>
            </div>
        </div>
    </ng-container>
    <ng-container template="footer">
        <div class="flex flex-jc-flex-end">
            <p-button
                id="agree-button"
                styleClass="submit-button"
                type="submit" 
                label="Aceptar"
                (onClick)="onVisibleChange(false);"
            />
        </div>
    </ng-container>
</shared-modal>
