<h3 class="page-title flex flex-ai-flex-end flex-jc-space-between">
    {{ title }}
    <div class="right-title-container flex flex-row flex-ai-center">
        <button 
            id="hide-filters-button" 
            class="hide-filters-button flex flex-row flex-ai-center"
            [disabled]="!showFilters" 
            [checkPermissionToRender]="showFormPermission" 
            pTooltip
            [tooltipOptions]="tooltipOptions"
            [tooltipDisabled]="!showFilters"
            (click)="onHideFilters()">
            <span>{{ showForm | booleanToString:['Ocultar', 'Ver'] }} filtros</span>
            <img src="../../../../../assets/images/icons/filterIcon.svg" alt="Ocultar/Mostrar filtro">
        </button>
        <a [checkPermissionToRender]="buttonRedirectPermission" id="create-user-anchor" class="create-anchor flex flex-row flex-ai-center"
            [routerLink]="buttonRedirectRoute">
            <span>{{ buttonRedirectLabel }}</span>
            <img src="../../../../../assets/images/icons/addIcon.svg" alt="{{ buttonRedirectLabel }}">
        </a>
    </div>
</h3>
