.days-container {
    grid-template-columns: repeat(7, 1fr);
    row-gap: 1.25rem;
    
    .day {
        font-size: .75rem;
        font-weight: 600;
        color: #5E5E5E;
        text-align: center;
        background: none;
        border: none;
        cursor: pointer;
        padding: .125em;
        height: 1rem;

        &.separated.selected {
            border-radius: 60px;
        }

        &.selected {
            background: rgba(var(--principal-color), 1);
            color: #FFFFFF;
        }

        &.focused {
            background: rgba(var(--principal-color), .75);
            border-radius: 60px !important;
            color: #FFFFFF;
        }

        &.blocked {
            color: #B7B7B7;
            cursor: default;
        }

        &.from-range {
            border-top-left-radius: 60px;
            border-bottom-left-radius: 60px;
        }

        &.to-range {
            border-top-right-radius: 60px;
            border-bottom-right-radius: 60px;
        }
    }
}