<div class="days-container grid w-100">
    <button 
        *ngFor="let day of days" 
        id="day-{{ day }}"
        class="day flex flex-ai-center flex-jc-center 
        {{ isSeparated ? 'separated' : '' }} 
        {{ day.selected ? 'selected' : '' }} 
        {{ day.focused ? 'focused' : '' }} 
        {{ day.blocked ? 'blocked' : '' }}"
        [ngClass]="{'from-range': day.name === range.from, 'to-range': day.name === range.to}"
        (click)="!day.blocked && selectDay(day.name)"
        [disabled]="day.blocked"
    >
        {{ day.name }}
    </button>
</div>