<main class="page-container">
    <h3 class="page-title flex flex-ai-flex-end flex-jc-space-between">
        Configurar notificaciones
        <button 
            *ngIf="timeLoadingPeriod"
            id="configure-loading-period-button" 
            class="configure-loading-period-button flex flex-row flex-ai-center"
            (click)="showHideConfiguration()"
        >
            <span>Configurar hora de notificación</span>
            <div class="image-container">
                <img src="../../../../../assets/images/icons/configurationInco.svg" alt="Configurar hora">
            </div>
        </button>
    </h3>

    <div *ngIf="hideConfiguration" class="form-card" [@slideInOut]>
        <h4 class="form-card-title flex flex-jc-space-between flex-ai-center">
            <span>Hora de notificación</span>
            <button
                id="close-configure-loading-period-button" 
                class="loading-period-button-close"
                (click)="showHideConfiguration()"
            >
                <img 
                    src="../../../../../assets/images/icons/closeIconSidebar.svg" 
                    alt="Cerrar periodos de carga"
                >
            </button>
        </h4>
        <configure-notifications-loading-hour-period
            [time]="timeLoadingPeriod!"
            [configurationForm]="configurationLoadingHourPeriodNotificationForm"
            (editTimeLoadingPeriod)="onEditTimeLoadingPeriod()"
            (cancelTimeLoadingPeriod)="onCancelTimeLoadingPeriod($event)"
        />
    </div>
    
    <div *ngIf="notifications.length > 0" class="form-card">
        <h4 class="form-card-title form-card-title--no-border">Notificaciones de carga de datos</h4>
        <configure-notifications-datagrid-notifications [notifications]="notifications" />
    </div>
    
    <div *ngIf="isScreenSmall" class="version-container">
        <shared-version-app />
    </div>
</main>