.configure-loading-period-button {
    border: none;
    background: none;
    gap: .5rem;
    cursor: pointer;
    font-size: .75rem;
    font-weight: 500;
    color: rgba(var(--principal-color), 1);

    &:hover {
        color: rgba(var(--secondary-color), 1);

        .image-container {
            background: rgba(var(--secondary-color), 1);
        }
    }

    .image-container {
        padding: .3rem;
        background: rgba(var(--principal-color), 1);
        border-radius: 100%;
        display: flex;

        img {
            width: .75rem;
            height: .75rem;
        }
    }
}

.loading-period-button-close {
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;

    &:hover {
        img {
            filter: var(--filter-secondary-color);
        }
    }

    img {
        filter: brightness(0) saturate(100%) invert(80%) sepia(0%) saturate(62%) hue-rotate(228deg) brightness(89%) contrast(83%);
        width: .625rem;
        height: .6875rem;
    }
}

.version-container {
    margin-top: 3.75em;
}