<p-sidebar 
    appendTo="body" 
    position="right"
    [showCloseIcon]="false"
    [(visible)]="visible" 
    (visibleChange)="onVisibleChange($event)"
>
    <ng-template pTemplate="header">
        <div class="header flex flex-column w-100">
            <div class="header-name-container flex flex-jc-center">
                <div class="name-container">
                    <h5 *ngIf="firtsNamePart" class="firts-name-part">{{ firtsNamePart }}</h5>
                    <h6 *ngIf="lastNamePart" class="last-name-part">{{ lastNamePart }}</h6>
                    <h6 class="identification-text">{{ documentType }} {{ documentNumber }}</h6>
                </div>
            </div>
            <dashboard-change-password-button *ngIf="isScreenSmall" (openChangePasswordModal)="openChangePasswordModal()" />
            <button 
                id="close-button-sidebar"
                class="close-button"
                (click)="onVisibleChange(false)"
            >
                <img src="../../../../../assets/images/icons/closeIconSidebar.svg" alt="Cerrar sidebar">
            </button>
        </div>
    </ng-template>
    <ng-template pTemplate="content">
        <div class="body">
            <dashboard-change-password-button *ngIf="!isScreenSmall" (openChangePasswordModal)="openChangePasswordModal()" />
            <dashboard-panel-menu [options]="options" *ngIf="isScreenSmall" />
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="footer">
            <button
                id="logout-button-sidebar"
                class="logout-button"
                (click)="onLogout()"
            >
                Cerrar sesión
            </button>
        </div>
    </ng-template>
</p-sidebar>

<dashboard-change-password-modal 
    [(visible)]="showChangePasswordModal"
    [isLoading]="isLoadingChangePassword"
    [changePasswordForm]="changePasswordForm"
    (changePassword)="onChangePassword()"
    (visibleChange)="onVisibleChangeChangePasswordModal($event)"
/>