.header-container {
    padding: 0;
    background: red;
}

.header {
    background: rgba(var(--principal-color), 1);
    position: relative;
    padding-bottom: 2.5em;

    .header-name-container {
        padding: 3.75em 5em 1.5em 5em;

        .name-container {
            .firts-name-part, .last-name-part, .identification-text {
                color: #FFFFFF;
            }
        
            .firts-name-part {
                font-size: 1.375rem;
                line-height: 1.375rem;
                font-weight: 700;
            }
        
            .last-name-part {
                font-size: 1rem;
                line-height: 1rem;
                font-weight: 500;
            }
    
            .identification-text {
                padding-top: .8em;
                font-size: 1rem;
                line-height: 1rem;
                font-weight: 400;
            }
        }
    }

    .close-button {
        position: absolute;
        top: 16px;
        right: 16px;
        padding: 0;
        border: none;
        background: transparent;
        cursor: pointer;
    }
}

.body {
    margin-top: 3.125em;
}

.footer {
    .logout-button {
        border: none;
        border-top: 1px solid rgba(212, 212, 212, .2);
        width: 100%;
        padding: 1.5em;
        cursor: pointer;
        background: transparent;
        color: #AD0808;
        font-size: .75rem;
        font-weight: 400;
        text-transform: uppercase;

        &:hover {
            font-weight: 600;
        }
    }
}