<div class="dashboard-container position-fixed flex flex-row h-100 w-100">
    <dashboard-sidebar-fixed *ngIf="!isScreenSmall" />
    <div class="navbar-content-container flex flex-column w-100">
        <div class="navbar-container flex flex-column">
            <dashboard-navbar 
                [userName]="userInformationService.userInformation.completeName"
                [email]="userInformationService.userInformation.email"
                [documentType]="userInformationService.userInformation.documentType.alias"
                [documentNumber]="userInformationService.userInformation.documentNumber"
                (logout)="onLogout()"
            />
            <dashboard-breadcrumb *ngIf="!isScreenSmall" />
        </div>
        <div class="content-container overflow-auto h-100" [@fadeAnimation]="outlet.isActivated ? outlet.activatedRoute : ''">
            <router-outlet #outlet="outlet"></router-outlet>
        </div>
    </div>
</div>