<shared-modal [(visible)]="visible"  [showFooter]="false" customClass="loading-period-modal" (visibleChange)="onCancel($event)">
    <ng-container template="content">
        <form class="loading-period-container flex flex-column flex-ai-center" [formGroup]="timeForm" (ngSubmit)="onSubmit()">
            <h6 class="loading-period-title">Período de carga</h6>
            <div class="loading-period-year-container flex flex-row flex-ai-center">
                <span class="loading-period-title">Año</span>
                <p-dropdown inputId="systemReport" id="systemReport" class="year-dropdown" validInputWithoutMessage
                    formControlName="year" [options]="yearList" />
            </div>
            <div *ngIf="visible" class="loading-period-year-months-container flex flex-column flex-ai-center">
                <span class="loading-period-title">Meses</span>
                <shared-chip-buttons
                    class="chips-container"
                    [chipsFormControl]="timeForm.get('yearMonths')!"
                    [chips]="yearMonthsList"
                    [useOnlyOne]="true"
                />
            </div>
            <div class="buttons-container flex flex-row-reverse">
                <p-button
                    id="submit-button"
                    styleClass="submit-button"
                    type="submit" 
                    label="Guardar"
                    [disabled]="timeForm.invalid"
                />
                <p-button
                    id="cancel-button"
                    styleClass="secondary-button"
                    type="button" 
                    label="Cancelar"
                    (onClick)="onCancel(false)"
                />
            </div>
        </form>
    </ng-container>
</shared-modal>