
::ng-deep {
    .p-dialog-mask .loading-period-modal.p-dialog {
        @media screen and (max-width: 900px) {
            width: fit-content !important;
        }
    }
}
.loading-period-container {
    gap: 1.5rem;

    .loading-period-title {
        color: #1E1E1E;
        font-size: .875rem;
        font-weight: 600;
    }

    .loading-period-year-container {
        gap: 1.5rem;

        .year-dropdown {
            width: 162px;
        }
    }

    .loading-period-year-months-container {
        .chips-container {
            max-width: 17.375rem;
            display: flex;
            justify-content: center;
            margin-top: .5em;
        }
    }

    .buttons-container {
        gap: .625rem;
    }
}