<main class="page-container">
    <h3 class="page-title">Crear usuario</h3>
    <form [formGroup]="form" (ngSubmit)="onCreateUser()">
        <div class="form-card">
            <h4 class="form-card-title">Datos personales</h4>
            <user-personal-information-form [personalInformationForm]="personalInformationForm" />
        </div>
        <div class="form-card">
            <h4 class="form-card-title">Contraseña</h4>
            <user-password-form [passwordForm]="passwordForm" />
        </div>
        
        <div class="buttons-fixed-container flex flex-row-reverse">
            <div pTooltip [tooltipOptions]="tooltipOptions" [tooltipDisabled]="form.valid">
                <p-button
                    id="submit-button"
                    styleClass="submit-button"
                    type="submit" 
                    label="Crear"
                    [loading]="isLoading"
                    [disabled]="!form.valid"
                />
            </div>
            <p-button
                id="cancel-button"
                styleClass="secondary-button"
                type="button" 
                label="Cancelar"
                (onClick)="onCancelUserCreation()"
                [disabled]="isLoading"
            />
        </div>
    </form>
    <div *ngIf="isScreenSmall" class="version-container">
        <shared-version-app />
    </div>
</main>