

.time-container {
    padding-top: .5rem;
    width: 270px;

    .time-title {
        font-size: .875rem;
        font-weight: 600;
        text-align: center;
    }

    .chips-container {
        max-width: 17.375rem;
        display: flex;
        justify-content: center;
        margin-top: .5em;
    }

    .day-picker-container {
        display: flex;
        margin-top: .5em;
    }

    .buttons-container {
        gap: 1rem;
        margin-top: 1em;
        padding-top: 1em;
        border-top: 1px solid #DEDEDF;
    }
}