<form [formGroup]="configurationLoadingPeriodNotificationForm" class="time-container">
    <div *ngIf="!(isUpdating | async)" [ngSwitch]="notificationSelected?.frecuency?.time">
        <div *ngSwitchCase="timeObject.week">
            <h6 class="time-title">Días de la semana</h6>
            <shared-chip-buttons
                class="chips-container"
                [chipsFormControl]="configurationLoadingPeriodNotificationForm.get('weekDays')!"
                [chips]="weekDaysList"
                [unlockedChips]="notificationSelected?.frecuency?.weekDays"
            />
        </div>
        <div *ngSwitchCase="timeObject.month">
            <h6 class="time-title">Días del mes</h6>
            <shared-day-picker 
                class="day-picker-container"
                [dayPickerFormControl]="configurationLoadingPeriodNotificationForm.get('monthDays')!"
                [unlockedDays]="notificationSelected?.frecuency?.monthDays && notificationSelected?.frecuency?.monthDays?.length! > 0 ? 
                    notificationSelected?.frecuency?.monthDays : notificationSelected?.frecuency?.yearDays"
            />
        </div>
        <div *ngSwitchCase="timeObject.year">
            <h6 class="time-title">Días del mes</h6>
            <shared-day-picker 
                class="day-picker-container"
                [dayPickerFormControl]="configurationLoadingPeriodNotificationForm.get('monthDays')!"
                [unlockedDays]="notificationSelected?.frecuency?.monthDays && notificationSelected?.frecuency?.monthDays?.length! > 0 ? 
                    notificationSelected?.frecuency?.monthDays : notificationSelected?.frecuency?.yearDays"
            />
        </div>
    </div>
    <div class="buttons-container flex flex-row flex-jc-center">
        <p-button
            id="cancel-button"
            styleClass="secondary-button"
            type="button" 
            label="Cancelar"
            (onClick)="onCancelLoadingPeriodNotification()"
        />
        <p-button
            id="submit-button"
            styleClass="submit-button"
            type="submit" 
            label="Aceptar"
            [disabled]="configurationLoadingPeriodNotificationForm.invalid"
            (onClick)="onEditLoadingPeriodNotification()"
        />
    </div>
</form>