::ng-deep .standardized-tables-generate-button {
    .p-tooltip-arrow {
        left: 80%;
        border-top-color: #C5C5C5;
    }
}

.warning-message {
    margin-top: 1em;
    display: block;
}

.version-container {
    margin-top: 3.75em;
}