<main class="page-container">
    <h3 class="page-title">Generar informe</h3>
    
    <shared-info-message *ngIf="infoMessage.message" [message]="infoMessage.message" [type]="infoMessage.type"
        (onCloseMessage)="onCloseInfoMessage()" class="warning-message" [@slideInOut] />
        
    <ng-container>
        <div class="form-card">
            <h4 class="form-card-title">Datos del informe - <span class="form-card-title-mandatory-test">Todos los campos son obligatorios</span></h4>
            <reports-standardized-tables-form [generateReportForm]="generateReportForm" />
        </div>
        
        <div class="buttons-fixed-container flex flex-row-reverse">
            <div pTooltip [tooltipOptions]="tooltipOptions" [tooltipDisabled]="generateReportForm.valid">
                <p-button
                    id="submit-button"
                    styleClass="submit-button"
                    type="submit" 
                    label="Generar"
                    [loading]="isLoading"
                    [disabled]="!generateReportForm.valid"
                    (onClick)="generateReport()"
                />
            </div>
        </div>
    </ng-container>

    <div *ngIf="isScreenSmall" class="version-container">
        <shared-version-app />
    </div>
</main>