<form class="container form-grids-container" [formGroup]="roleInformationForm">
    <div class="form-grid-2">
        <div class="form-input-container">
            <label class="input-label-form" for="roleName">
                Nombre del rol -
                <span class="input-label-form--required">Obligatorio</span>
            </label>
            <input 
                pInputText 
                validInputWithoutMessage 
                id="roleName" 
                type="text" 
                name="roleName" 
                formControlName="roleName"
                maxlength="30"
            />
        </div>
        
        <div class="form-grid-2">
            <div class="form-input-container">
                <label *ngIf="!isScreenSmall" class="input-label-form" for="roleName">&nbsp;</label>
                <div *ngIf="!isEdit" class="checkbox-container">
                    <p-checkbox class="checkbox" [binary]="true" formControlName="preload" inputId="preload"
                        inputId="preload" />
                    <label class="label-checkbox" for="preload">¿Precargar rol existente?</label>
                </div>
            </div>
            <div *ngIf="showRoleDropdown" class="form-input-container">
                <label class="input-label-form" for="role">
                    Rol
                </label>
                <p-dropdown id="role" validInputWithoutMessage formControlName="role" [options]="roles | sortArray:'id'"
                    optionLabel="name" placeholder="Seleccionar" />
            </div>
        </div>
    </div>
</form>