.version-container {
    font-size: .6875rem;
    font-family: var(--secondary-font);
    
    .version-highlighted-text {
        font-weight: 400;
        line-height: .8125rem;
    }

    .version-text {
        font-weight: 300;
        line-height: .8125rem;
    }

    .version-highlighted-text-number {
        margin-top: 1em;
        font-weight: 400;
        color: rgba(var(--principal-color), 1);
    }
}
