<div class="version-container flex flex-column flex-ai-center">
    <span class="version-highlighted-text">Powered by:</span>
    <p class="version-text">{{ poweredBy }}</p>
    <p class="version-highlighted-text-number">Versión {{ appVersion }}</p>
</div>