.input-datepicker-container {
    display: flex;
    flex-direction: row;
    gap: .5rem;

    .input-datepicker-form-container {
        display: flex;
        flex-direction: row;
        gap: .5rem;

        input[type='number'] {
            text-align: center;
        }
    }
}