<div class="input-datepicker-container">
    <form class="input-datepicker-form-container w-100" [formGroup]="inputFormDate">
        <input id="day_{{id}}" pInputText validInputWithoutMessage type="number" formControlName="day" placeholder="DD"
            oninput="this.value = this.value.slice(0, 2);" />
        <input id="month_{{id}}" pInputText validInputWithoutMessage type="number" formControlName="month" placeholder="MM"
            oninput="this.value = this.value.slice(0, 2);" />
        <input id="year_{{id}}" pInputText validInputWithoutMessage type="number" formControlName="year" placeholder="AAAA"
            oninput="this.value = this.value.slice(0, 4);" />
    </form>
    <form [formGroup]="formDate">
        <p-calendar inputId="calendar_{{id}}" appendTo="body" [showIcon]="true"
            formControlName="date" />
    </form>
</div>
