<div class="radiobutton-field-container flex flex-row flex-ai-center">
    <div *ngFor="let input of inputsRadiobutton" class="radiobutton-field flex flex-row flex-ai-center">
        <p-radioButton [inputId]="input.id" [value]="input.value" [formControlName]="formControlNameInput" />
        <label class="radiobutton-label" [for]="input.id">{{ input.name }}</label>
    </div>
</div>