.radiobutton-field-container {
    gap: 4rem;
    height: 100%;
    
    .radiobutton-field {
        gap: .5rem;

        .radiobutton-label {
            font-weight: 400;
            font-size: .75rem;
        }
    }
}
